@charset "UTF-8";

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-size: 26px;
  color: #fff;
  font-family: "Arial, " Helvetica Neue ", Helvetica, Sans-serif";
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 375;
}

body {
  line-height: 1;
  font-family: "Arial, " Helvetica Neue ", Helvetica, Sans-serif";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Arial, " Helvetica Neue ", Helvetica, Sans-serif";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  font-size: 14px;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  min-height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1920px;
  padding: 0px 0px;
  margin: 0 auto;
  /*	
	@media (max-width: $md1+px) {
		max-width: 970px;
	}
	@media (max-width: $md2+px) {
		max-width: 750px;
	}
	@media (max-width: $md3+px) {
		max-width: none;
	} */
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  overflow: hidden;
}

.__page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

@font-face {
  font-family: 'AGGloria';
  src: url("../fonts/agglor.eot");
  src: local("☺"), url("../fonts/agglor.woff") format("woff"), url("../fonts/agglor.ttf") format("truetype"), url("../fonts/agglor.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AGGloria';
  src: url("../fonts/agglob.eot");
  src: local("☺"), url("../fonts/agglob.woff") format("woff"), url("../fonts/agglob.ttf") format("truetype"), url("../fonts/agglob.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Aggloriac';
  src: url("../fonts/aggloriac.eot");
  src: local("☺"), url("../fonts/aggloriac.woff") format("woff"), url("../fonts/aggloriac.ttf") format("truetype"), url("../fonts/aggloriac.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Aggloriac';
  src: url("../fonts/aggloriac-bold.eot");
  src: local("☺"), url("../fonts/aggloriac-bold.woff") format("woff"), url("../fonts/aggloriac-bold.ttf") format("truetype"), url("../fonts/aggloriac-bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'BaronNeue';
  src: url("../fonts/Baron Neue.eot");
  src: local("☺"), url("../fonts/Baron Neue.woff") format("woff"), url("../fonts/Baron Neue.ttf") format("truetype"), url("../fonts/Baron Neue.svg") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'BaronNeue';
  src: url("../fonts/Baron Neue Italic.eot");
  src: local("☺"), url("../fonts/Baron Neue Italic.woff") format("woff"), url("../fonts/Baron Neue Italic.ttf") format("truetype"), url("../fonts/Baron Neue Italic.svg") format("svg");
  font-weight: normal;
  font-style: Italic;
}

@font-face {
  font-family: 'BaronNeue';
  src: url("../fonts/Baron Neue Black.eot");
  src: local("☺"), url("../fonts/Baron Neue Black.woff") format("woff"), url("../fonts/Baron Neue Black.ttf") format("truetype"), url("../fonts/Baron Neue Black.svg") format("svg");
  font-weight: normal;
  font-style: 900;
}

@font-face {
  font-family: 'BaronNeue';
  src: url("../fonts/Baron Neue Bold.eot");
  src: local("☺"), url("../fonts/Baron Neue Bold.woff") format("woff"), url("../fonts/Baron Neue Bold.ttf") format("truetype"), url("../fonts/Baron Neue Bold.svg") format("svg");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'BaronNeue';
  src: url("../fonts/Baron Neue Black Italic.eot");
  src: local("☺"), url("../fonts/Baron Neue Black Italic.woff") format("woff"), url("../fonts/Baron Neue Black Italic.ttf") format("truetype"), url("../fonts/Baron Neue Black Italic.svg") format("svg");
  font-weight: 900;
  font-style: Italic;
}

@font-face {
  font-family: 'BaronNeue';
  src: url("../fonts/Baron Neue Bold Italic.eot");
  src: local("☺"), url("../fonts/Baron Neue Bold Italic.woff") format("woff"), url("../fonts/Baron Neue Bold Italic.ttf") format("truetype"), url("../fonts/Baron Neue Bold Italic.svg") format("svg");
  font-weight: 700;
  font-style: Italic;
}

.title {
  font-family: "BaronNeue", Sans-serif;
  font-weight: 300;
}

.specialization {
  font-family: "AGGloria", Sans-serif;
  color: #707070;
}

.header {
  background-color: #000;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 70px 70px 35px 70px;
}

.header__top-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header__logo img {
  max-width: 100%;
}

.header__languages-menu {
  padding: 0px 0px 0px 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__languages-menu li {
  padding: 0px 26px 0px 0px;
}

.header__menu img {
  max-width: 100%;
  cursor: pointer;
}

.menu__body {
  position: fixed;
  height: 100%;
  width: 100vw;
  left: 0;
  top: 175px;
  z-index: 5;
  opacity: 0;
  -webkit-transform: translate(0px, -120%);
      -ms-transform: translate(0px, -120%);
          transform: translate(0px, -120%);
  -webkit-transition: all 1.9s ease 0s;
  -o-transition: all 1.9s ease 0s;
  transition: all 1.9s ease 0s;
  background-color: rgba(255, 255, 255, 0.9);
}

.menu__body._active {
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
}

.menu__page {
  margin: 100px 0px 0px 0px;
  text-align: center;
  list-style: none;
}

.menu__page li {
  line-height: 40px;
  padding-bottom: 20px;
}

.menu__page li a:hover {
  color: #000;
}

.index {
  background-color: #000;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 71px 39px 9px 74px;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.index__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.index__logo {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.index__logo img {
  max-width: 100%;
}

.index__wrapper {
  text-align: center;
}

.index__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  opacity: 0;
  -webkit-transition: all 2.9s ease 0s;
  -o-transition: all 2.9s ease 0s;
  transition: all 2.9s ease 0s;
  padding: 0px 32px;
}

.index__img._fixed {
  opacity: 1;
}

.index__img img {
  max-width: 100%;
}

.index__title {
  color: #000;
  display: inline-block;
  position: relative;
  z-index: 5;
}

.index__img-fon {
  width: 100%;
  position: relative;
  margin: -70px 0px 0px 0px;
}

.index__img-fon img {
  max-width: 100%;
}

.index__nav {
  width: 300px;
  padding: 0px 57px 70px 50px;
}

.index__menu-main {
  text-align: left;
  list-style: none;
}

.index__menu-main li {
  font-size: 18px;
  padding-bottom: 21px;
}

.index__menu-main li a:hover {
  font-size: 30px;
  color: #fff;
}

.title {
  font-family: "BaronNeue", Sans-serif;
  font-weight: 300;
  font-size: 65px;
}

.menu li :before {
  color: #A5A5A5;
  content: "[\00a0";
}

.menu li :after {
  color: #A5A5A5;
  content: "\00a0]";
}

.menu li a {
  font-family: "AGGloria", Sans-serif;
  color: #A5A5A5;
  text-decoration: none;
}

.contact-page {
  overflow: hidden;
  background-color: #000;
}

.contact-page__header {
  position: relative;
  background-color: #000;
  min-height: 82vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.contact-page__header-fullscreen {
  min-height: 82vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact-page__row-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-width: 100%;
  min-height: 100%;
}

.contact-page__row-header-column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.contact-page__title {
  text-align: center;
  padding: 400px 0px 20px 200px;
}

.contact-page__geometry {
  padding: 0px 90px 0px 0px;
}

.contact-page__geometry img {
  max-width: 100%;
}

.contact-page__slogan {
  position: absolute;
  bottom: 50px;
  right: 250px;
}

.contact-page__slogan h2 {
  color: #707070;
}

.contact-page__avalar {
  position: absolute;
  top: 75%;
  right: 0;
}

.contact-page__avalar img {
  max-width: 100%;
}

.contact-page__footer {
  position: relative;
  background: url("../img/contacts/fon.png") bottom/100% auto no-repeat;
}

.contact-page__img-footer {
  opacity: 0;
  -webkit-transform: translate(120%, 0px);
      -ms-transform: translate(120%, 0px);
          transform: translate(120%, 0px);
  -webkit-transition: all 2.9s ease 0s;
  -o-transition: all 2.9s ease 0s;
  transition: all 2.9s ease 0s;
}

.contact-page__img-footer._fixed {
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
}

.contact-page__img-footer img {
  max-width: 100%;
  display: block;
  margin-left: auto;
}

.contact-page__avalar-footer {
  position: absolute;
  bottom: 0;
  right: 0;
}

.contact-page__avalar-footer img {
  max-width: 100%;
}

.contact__statue {
  opacity: 0;
  -webkit-transform: translate(120%, 0px);
      -ms-transform: translate(120%, 0px);
          transform: translate(120%, 0px);
  -webkit-transition: all 2.9s ease 0s;
  -o-transition: all 2.9s ease 0s;
  transition: all 2.9s ease 0s;
}

.contact__statue._fixed {
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
}

.contact__statue img {
  max-width: 100%;
}

.footer {
  background-color: #000;
  overflow: hidden;
}

.footer__body {
  padding: 70px 70px;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 14.606%;
          flex: 0 0 14.606%;
}

.footer__logo img {
  max-width: 100%;
}

.teem {
  overflow: hidden;
  background-color: #000;
}

.teem__header {
  position: relative;
  background-color: #000;
  min-height: 82vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.teem__header-fullscreen {
  min-height: 82vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.teem__row {
  background-color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-width: 100%;
  min-height: 100%;
}

.teem__column_one {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 30%;
          flex: 0 1 30%;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.teem__column_two {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 70%;
          flex: 0 1 70%;
}

.teem__title {
  padding: 0px 90px 20px 0px;
  text-align: center;
}

.teem__geometry {
  padding: 0px 90px 0px 0px;
}

.teem__geometry img {
  max-width: 100%;
}

.teem__img-header {
  opacity: 0;
  -webkit-transform: translate(120%, 0px);
      -ms-transform: translate(120%, 0px);
          transform: translate(120%, 0px);
  -webkit-transition: all 2.9s ease 0s;
  -o-transition: all 2.9s ease 0s;
  transition: all 2.9s ease 0s;
  margin: 0px 0px 0px 50px;
}

.teem__img-header._fixed {
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
}

.teem__img-header img {
  max-width: 100%;
}

.teem__slogan {
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding: 0px 70px 0px 0px;
}

.teem__slogan h2 {
  color: #707070;
}

.teem__avalar {
  position: absolute;
  bottom: -160px;
  right: 0px;
}

.teem__avalar img {
  max-width: 100%;
}

.teem__bust {
  position: relative;
  z-index: 5;
  display: block;
  margin: 0 auto;
}

.teem__bust img {
  max-width: 100%;
}

.teem-content {
  background-color: #fff;
}

.teem-content__top {
  margin: 0px auto;
  padding: 160px 20px 160px 20px;
}

.teem-content__title {
  text-align: center;
  font-family: "BaronNeue", Sans-serif;
  font-weight: 300;
  color: #000;
  padding: 0px 0px 20px 0px;
}

.teem-content__description {
  text-align: center;
  font-family: "Aggloriac", Sans-serif;
  color: #000;
}

.teem-content__row {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-width: 100%;
  min-height: 100%;
  padding: 0px 20px 0px 20px;
}

.teem-content__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  text-align: left;
}

.teem-content__column_one {
  padding: 0px 0px 0px 170px;
}

.teem-content__column_two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: right;
      -ms-flex-align: right;
          align-items: right;
}

.teem__column-title {
  font-family: "BaronNeue", Sans-serif;
  font-weight: 300;
  color: #000;
  padding: 0px 0px 70px 0px;
}

.teem__column-description {
  text-align: left;
  line-height: 50px;
  font-family: "Aggloriac", Sans-serif;
  color: #000;
  padding: 0px 0px 130px 0px;
}

.teem__column-arrows {
  position: absolute;
  top: 80px;
  right: -20px;
}

.teem__column-arrows img {
  max-width: 100%;
}

/*
	&__title-content {
		display: flex;
		justify-content: space-between;
		position:relative;

		&__avalar {
			position:absolute;
			right:0;
			bottom: -70px;
		}
	}

	&__title {
		font-size: 65px;
		text-align: center;
		color:#fff;
		padding: -50px 0px 0px 0px;
		display: inline-block;
		width: 609px; 	
		height: 268px;
		background-position: bottom;
		background-repeat: no-repeat;
		background-size: 609px 178px;
		background-image: url("../img/teem/fon.png");

		& h2 {
			display: inline-block;
			font-size: 62px;
			padding: 22px 0px 0px 35px;
		}
	}

	&__title-left {
		padding-top: 650px;
		padding-bottom: 173px;
	}

	&__title-right {

		padding-top: 190px;
		padding-right: 220px;
	}

	&__agency {
		position:absolute;
		font-size: 67px;
		color:#707070;
			right:107px;
			bottom: 0px;
	}

	&__content {
		background-position: center;
		background-repeat: no-repeat;
		background-size: 1920px 3010px;
		background-image: url("../img/teem/big_fon.png");
	}


	&__content-title {

		font-size: 80px;
		padding:150px 0px 0px 410px;

		& h3 {
			font-size: 26px;
			padding-left: 50px;
		}
	}

	&__description {
		display: flex;
		justify-content: space-between;
		padding:110px 0px 190px 285px;
		position:relative;
	}

	&__bust {
		position:absolute;
		top: 50px;
		right: 160px;
		z-index: 3;
	}

	&__column {
		max-width: 640px;
	}

	&__column-title {
		font-size: 80px;
		padding-bottom:55px;
	}

	&__column-description {
		font-size: 26px;
		line-height: 50px;
		padding-bottom:140px;
	}

	&__contacts {
		position:relative;

		&__avalar {
			position:absolute;
			right:0;
			bottom: 50px;
		}
	}

	&__contacts-wraper {
		font-size: 81px;
		padding:0px 0px 245px 284px;
		list-style: none;
	}

	&__phone a{
		color: #000;
  		text-decoration: none;
	}

	&__mail a{
		display: inline-block;
		color: #000;
  		text-decoration: none;
  		padding-bottom: 90px;
	}

	&__bottom-img {
		display: flex;

  align-items: center;
  justify-content: center 
	}

		&__social-menu{

		text-align: left;
		padding: 100px 0px;
  		list-style: none;
		
		& li {
			display: inline;
  			font-size: 40px;
  			padding-bottom: 21px;
  			padding-left: 270px;

  			& :before {
	 			padding: 0px 7px;
	  			color: #A5A5A5;
	  			content: "[\00a0";
			}

  			& :after {
 				padding: 7px;
  				color: #A5A5A5;
  				content: "]\00a0";
			}

			& a {
				color: #A5A5A5;
  				text-decoration: none;
			}
		}
	}

	&__logo {
		display: flex;
		justify-content: flex-end;
		padding:0px 74px 200px 0px;
	}
}

.end {
	padding-bottom: 0px;
}

*/

.portfolio {
  overflow: hidden;
  background-color: #000;
}

.portfolio__header {
  position: relative;
  background-color: #000;
  min-height: 82vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.portfolio__header-fullscreen {
  min-height: 82vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #ca4af0;
}

.portfolio__row {
  background-color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-width: 100%;
  min-height: 100%;
}

.portfolio__column_one {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 60%;
          flex: 0 1 60%;
}

.portfolio__column_two {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40%;
          flex: 0 1 40%;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.portfolio__title {
  padding: 0px 200px 150px 0px;
  text-align: right;
  line-height: 99px;
}

.portfolio__img-header {
  opacity: 0;
  -webkit-transform: translate(-120%, 0px);
      -ms-transform: translate(-120%, 0px);
          transform: translate(-120%, 0px);
  -webkit-transition: all 2.9s ease 0s;
  -o-transition: all 2.9s ease 0s;
  transition: all 2.9s ease 0s;
}

.portfolio__img-header._fixed {
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
}

.portfolio__img-header img {
  max-width: 100%;
}

.portfolio__slogan-header {
  position: absolute;
  bottom: 20px;
  right: 50px;
}

.portfolio__slogan-header h2 {
  color: #707070;
}

.portfolio__avalar {
  position: absolute;
  bottom: -160px;
  right: 0px;
}

.portfolio__avalar img {
  max-width: 100%;
}

.portfolio__content {
  position: relative;
  padding: 70px 0px 0px 0px;
  background: url("../img/portfolio/fon.png") 0 0/cover no-repeat, url("../img/portfolio/more_down.png") 0 100%/608px 577px no-repeat;
}

.portfolio__content-img {
  opacity: 0;
  -webkit-transform: translate(120%, 0px);
      -ms-transform: translate(120%, 0px);
          transform: translate(120%, 0px);
  -webkit-transition: all 2.9s ease 0s;
  -o-transition: all 2.9s ease 0s;
  transition: all 2.9s ease 0s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.portfolio__content-img._fixed {
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
}

.portfolio__content-img img {
  max-width: 100%;
}

.portfolio__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: -150px 0px 0px 0px;
}

.portfolio__pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 0px 100px 120px;
}

.portfolio__img-left {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 15%;
          flex: 0 1 15%;
  padding: 0px 50px 0px 0px;
}

.portfolio__img-left img {
  max-width: 100%;
}

.portfolio__img-right {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 15%;
          flex: 0 1 15%;
  padding: 0px 50px 0px 0px;
}

.portfolio__img-right img {
  max-width: 100%;
}

.portfolio__item-title {
  padding: 0px 0px 70px 120px;
  color: #000;
}

.portfolio__item-subtitle {
  padding: 0px 0px 0px 120px;
  line-height: 50px;
  color: #000;
}

.portfolio__item-img {
  margin: -200px 0px 0px -100px;
  padding: 0px 0px 500px 0px;
}

.portfolio__item-img img {
  max-width: 100%;
}

.portfolio__avalar-content {
  position: absolute;
  right: 0;
  bottom: -90px;
}

.portfolio__avalar-content img {
  max-width: 100%;
  padding: 0px 0px 0px 750px;
}

.cooperation {
  overflow: hidden;
}

.cooperation__header {
  background-color: #000;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.cooperation__header-fullscreen {
  min-height: 82vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #154115;
}

/*
	

	&__row {
			//background-color: #00ccaa;
			//margin: 10px;

		background-color: #000;
		display: block;

		//flex-wrap: wrap;
		min-width: 100%;
		min-height: 100%;

		@media (min-width: $md3 + px) {
			display: flex;
			flex-wrap: nowrap;
		}

		&-column {

			background-color: #12cc17;
			//margin: 10px;

			flex: 0 1 49.89%;

			@media (max-width: $md3 + px) {
				flex: 0 1 100%;
				align-items: center;
			}
		}
	}

	&__header-wrapper {

		min-height: 80%;
		//background-color: #bbcc11;

		padding: 70px 0px 0px 270px;
		margin: 0px 40px 70px 0px;

		display: flex;
		flex-direction: column;
		justify-content: space-between;

		@media (max-width: $md3 + px) {
			align-items: flex-end;
			padding: 70px 0px 0px 0px;
			min-height: 0%;
		}

	}

	&__header-description {

		flex: 1 1 auto; 

		&  h2 {
			@include adaptiv-font(30, 16);
		}

		@media (max-width: $md3 + px) {
			flex: 0 0 auto; 
		}
	}

	&__header-title_arrow {
		@media (max-width: $md3 + px) {
			//flex: 1 1 auto; 
		}
	}


	&__header_specialization {

		position: absolute;

		left: 20px;
		bottom: 5px;

		&  h2 {
			@include adaptiv-font(90, 20);
		}
	}



	&__column_wrapper {
		position: relative;
	}


	&__header_img {
		position:absolute;
		top: 0px;
		right: 0px;
		opacity: 0;
		transform: translate(120%, 0px);
		transition: all 2.9s ease 0s;

		&._fixed {
			transform: translate(0px, 0px);
			opacity: 1;
		}

		& img {
			max-width: 100%;
		} 
	}
}

*/

/*
	&__header {
		background-color: #fff;
		min-height: 100vh;
		display: flex;
		flex-direction: column;
		overflow: hidden;

		&-fullscreen {
			min-height: 80vh;
			display: flex;
			background-color: #000;
		}
	}

	&__row {
			background-color: #00ccaa;
			margin: 10px;

		display: flex;
		flex-wrap: wrap;
		min-width: 100%;
		min-height: 100%;

		@media (min-width: $md3 + px) {
			flex-wrap: nowrap;
		}

		&-column {

			background-color: #12cc17;
			margin: 10px;

			flex: 0 1 49.89%;

			@media (max-width: $md3 + px) {
				flex: 0 1 100%;
				align-items: center;
			}
		}
	}

	&__header-wrapper {


		background-color: #bbcc11;
		margin: 20px;


		padding: 70px 0px 0px 270px;
		margin: 0px 0px 70px 0px;
		position: relative;
		min-height: 70%;

		@media (max-width: $md2 + px) {
			padding: 70px 0px 0px 170px;
		}
	}


	&__header-title {
		padding: 0px 0px 70px 0px;

		&_arrow {
			position:absolute;
			left: 70px;
			bottom: 0px;
			padding: 0px 0px 0px 200px;
			background: url("../img/arrows/left_white.png") left no-repeat;

			@media (max-width: $md2 + px) {
				padding: 0px 0px 0px 100px;
			}

			@media (max-width: $md3 + px) {
				padding: 0px 0px 0px 100px;
				background: url("../img/arrows/left_white.png") left/auto 100% no-repeat;
				
			}
		}
			&  h2 {

			@include adaptiv-font(80, 40);
		}
	}

	&__header-description {

		&  h2 {
			@include adaptiv-font(30, 16);
		}
	}

	&__header_specialization {

		padding: 0px 0px 0px 10px;	

		&  h2 {
			@include adaptiv-font(90, 20);
		}
	}


	&__column_wrapper {
		position: relative;
	}


	&__header_img {
		position:absolute;
		top: 0px;
		right: 0px;
		opacity: 0;
		transform: translate(120%, 0px);
		transition: all 2.9s ease 0s;

		&._fixed {
			transform: translate(0px, 0px);
			opacity: 1;
		}

		& img {
			max-width: 100%;
		} 
	}
}
*/

.about {
  background-color: #000;
  overflow: hidden;
}

.about__header {
  position: relative;
  background-color: #000;
  min-height: 82vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about__header-fullscreen {
  min-height: 82vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #ca4115;
}

.about__row-header {
  background-color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-width: 100%;
  min-height: 100%;
}

.about__row-header-column-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.about__row-header-column-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.about__title {
  padding: 0px 0px 30px 0px;
  display: inline-block;
  text-align: left;
}

.about__geometry {
  padding: 0px 0px 100px 0px;
  margin: -40px 0px 0px 0px;
}

.about__geometry img {
  max-width: 100%;
}

.about__subtitle {
  color: #000;
  position: relative;
  z-index: 3;
  font-family: "AGGloria", Sans-serif;
}

.about__img-header {
  opacity: 0;
  -webkit-transform: translate(-120%, 0px);
      -ms-transform: translate(-120%, 0px);
          transform: translate(-120%, 0px);
  -webkit-transition: all 2.9s ease 0s;
  -o-transition: all 2.9s ease 0s;
  transition: all 2.9s ease 0s;
  margin: 0px 0px 0px 50px;
}

.about__img-header._fixed {
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
}

.about__img-header img {
  max-width: 100%;
}

.about__slogan {
  position: absolute;
  bottom: 20px;
  right: 50px;
}

.about__slogan h2 {
  color: #707070;
}

.about__avalar {
  position: absolute;
  bottom: -160px;
  right: 0px;
}

.about__avalar img {
  max-width: 100%;
}

.about-item {
  background: url("../img/about/big_fon.png") top/100% 100% no-repeat;
  padding: 200px 0px 100px 0px;
}

.about-item__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-width: 100%;
  min-height: 100%;
}

.about-item__column_one {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.about-item__column_two {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40%;
          flex: 0 1 40%;
}

.about-item__img {
  opacity: 0;
  -webkit-transform: translate(-120%, 0px);
      -ms-transform: translate(-120%, 0px);
          transform: translate(-120%, 0px);
  -webkit-transition: all 2.9s ease 0s;
  -o-transition: all 2.9s ease 0s;
  transition: all 2.9s ease 0s;
  margin: 0px 0px 0px -100px;
}

.about-item__img._fixed {
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
}

.about-item__img img {
  max-width: 100%;
}

.about-item__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  min-height: 100%;
}

.about-item__title {
  color: #000;
  padding: 0px 0px 70px 0px;
  text-align: right;
}

.about-item__description {
  color: #000;
  text-align: right;
  line-height: 50px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.about-item__logo {
  color: #000;
  text-align: right;
  padding: 30px 0px 0px 0px;
}

.about-item__logo-send {
  font-family: "AGGloria", Sans-serif;
}

.about-item__logo-arrow {
  text-align: right;
  margin: 0px -40px 0px 0px;
}

.about-item__logo-arrow img {
  max-width: 100%;
}

.contacts {
  background-color: #000;
  padding: 0px 70px 0px 70px;
}

.contacts__row {
  max-width: 1200px;
  margin: 0 auto;
}

.contacts__column {
  margin: 0px 0px 0px 70px;
}

.contacts__slogan {
  padding: 0px 0px 100px 0px;
}

.contacts__slogan-contact {
  padding: 0px 0px 50px 0px;
}

.contacts__title {
  font-family: "AGGloria", Sans-serif;
  padding: 0px 0px 70px 70px;
  margin: 0px 0px 70px -70px;
  background: url("../img/arrows/down_white.png") left/auto 100% no-repeat;
}

.contacts__item {
  padding: 0px 0px 30px 0px;
}

.contacts__item_phone-contact {
  margin: 0px 0px 200px 0px;
}

.contacts__item_phone-contact a {
  color: #fff;
  text-decoration: none;
}

.contacts__item_email {
  margin: 0px 0px 100px 0px;
}

.contacts__item_email-contact {
  font-family: "BaronNeue", Sans-serif;
  margin: 0px 0px 200px 0px;
}

.contacts__item_email-contact a {
  color: #fff;
  text-decoration: none;
}

.contacts__item_teem {
  color: #000;
}

.contacts__img {
  margin: 270px 0px 120px 0px;
  opacity: 0;
  -webkit-transform: translate(120%, 0px);
      -ms-transform: translate(120%, 0px);
          transform: translate(120%, 0px);
  -webkit-transition: all 2.9s ease 0s;
  -o-transition: all 2.9s ease 0s;
  transition: all 2.9s ease 0s;
}

.contacts__img._fixed {
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
}

.contacts__img img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.contacts__avalar {
  position: absolute;
  top: 17%;
  right: 0%;
}

.contacts__avalar img {
  max-width: 100%;
}

.contacts__social-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contacts__social-menu_contact {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.contacts__teem {
  position: relative;
  background: url("../img/teem/fon_contacts.png") top/auto 30% no-repeat;
}

/*

	&__header {
		min-height: 100vh;
		display: flex;
		flex-direction: column;
	}
	
	&__body {
		flex: 1 1 auto;
		width: 100%;
		display: flex;	
		justify-content: flex-end;
		align-items: flex-end;
		position: relative;

		@media (max-width: $md3+px) {
			flex-wrap: wrap;
		} 
	}

	&__img {
		padding: 0px 355px 80px 0px;
		opacity: 0;
		transform: translate(-120%, 0px);
		transition: all 2.9s ease 0s;

		&._fixed {
			transform: translate(0px, 0px);
			opacity: 1;
		}

		& img {
			max-width: 100%;
		}

		@media (max-width: $md1+px) {
			font-size: 56px;
		} 

		@media (max-width: $md2+ px) {
			font-size: 45px;
		} 

		@media (max-width: $md3+px) {
			align-items: center;
			padding: 50px 130px 20px 40px;
		} 

		@media (max-width: $md4+px) {
			align-items: center;
			padding: 50px 34px 20px 40px;
		}

		@media (max-width: $minWidth+px) {
			align-items: center;
			padding: 50px 34px 20px 40px;
		} 


	}

	&__title {
		display: block;
		color: #fff;
		padding-bottom: 40px;

		@media (max-width: $md4+px) {
			padding:0px 0px 20px 60px;
		}

		@media (max-width: $minWidth+px) {
			padding:0px 0px 15px 60px;
		} 
	}

	&__subtitle {
		position:relative;
		z-index: 3;
		font-size: 32px;
		font-family: "AGGloria", Sans-serif; //шрифт не правильний ПОПРАВИТИ!!!
		padding: 0px 0px 0px 5px;

		@media (max-width: $md1+px) {
			font-size: 32px;
		} 

		@media (max-width: $md2+ px) {
			font-size: 45px;
		} 

		@media (max-width: $md3+px) {
			font-size: 30px;
		} 

		@media (max-width: $md4+px) {
			font-size: 24px;
			padding:0px 0px 0px 60px;
		}

		@media (max-width: $minWidth+px) {
			font-size: 19px;
			padding:0px 0px 0px 60px;
		} 
	}

	&__img-fon{
		position: relative;
		margin: -45px 0px 150px 0px;

		& img {
			max-width: 100%;
		}

		@media (max-width: $md4+px) {
			margin: -30px 0px 0px 0px;
			padding: 0px 0px 80px 54px;
		}

		@media (max-width: $minWidth+px) {
			margin: -20px 0px 0px 0px;
			padding: 0px 0px 80px 54px;

		}
	}

	&__specialization {
		font-family: "AGGloria", Sans-serif;
		font-size: 67px;
		color:#707070;
		padding: 0px 0px 30px 0px;
		text-align: right;

		@media (max-width: $md1+px) {
			font-size: 56px;
		} 

		@media (max-width: $md2+ px) {
			font-size: 52px;
			padding:0px 20px 0px 0px;
		} 

		@media (max-width: $md3+px) {
			font-size: 40px;
			padding:0px 10px 0px 0px;
		} 

		@media (max-width: $md4+px) {
			font-size: 35px;
			padding:0px 10px 0px 0px;
		}

		@media (max-width: $minWidth+px) {
			font-size: 29px;
			padding:0px 10px 0px 0px;

		} 
	}

	&__img-avalar {
		position: absolute;
		right: -25px;
		bottom: -48px;
		z-index: 5;

		@media (max-width: $minWidth+px) {
			bottom: -20px;
			padding:0px 0px 0px 32px;
		} 

		& img {
			max-width: 100%;
		}


	}
}


.description {



	&__img-fon img{
		max-width: 100%;

		@media (max-width: $md3+px) {
			display: none;
		} 

	}

	&__wrapper {
		display: flex;
		flex-direction: row-reverse;
		justify-content: center;
		position:relative;
		z-index: 5;
		margin: -950px 0px 0px 0px;
		padding: 0px 290px 0px 0px;

		@media (max-width: 1441+px) {
			margin: -750px 0px 0px 0px;
			padding: 0px 190px 0px 0px;
		}

		@media (max-width: $md1+px) {
			margin: -550px 0px 0px 0px;
			padding: 0px 90px 0px 0px;
		} 

		@media (max-width: $md2+ px) {
			margin: -450px 0px 0px 0px;
			padding:0px 90px 0px 0px;
		}

		@media (max-width: $md3+px) {
			margin: 0px 0px 0px 0px;
			padding:0px 90px 0px 0px;
			flex-direction: column;
			background-color: #fff;
		}
	}

	&__img {

		margin-left: -140px;

		transform: translate(-120%, 0px);
		transition: all 3.0s ease 0s;

		&._fixed {
			transform: translate(0px, 0px);
			opacity: 1;
		}

		& img {
			max-width: 100%;
		}

		@media (max-width: $md2+ px) {
			padding: 0px 50px 0px 0px;
		} 
	}

	&__title {
		position:relative;
		align-self: flex-start;
		text-align: right;
		padding:1;
		padding: 0px 0px 70px 0px;
		margin: -375px 0px 0px 0px;

		@media (max-width: 1441+px) {
			padding: 0px 0px 70px 0px;
			margin: -275px 0px 0px 0px;
		} 

		@media (max-width: $md1+px) {
			padding: 0px 0px 70px 0px;
			margin: -175px 0px 0px 0px;
		} 

		@media (max-width: $md2+ px) {
			padding: 0px 0px 50px 0px;
			margin: -170px 0px 0px 0px;
		} 

		@media (max-width: $md3+px) {
			padding: 0px 0px 50px 0px;
			margin: -0px 0px 0px 0px;
		}

		@media (max-width: $md4+px) {
			font-size: 35px;
			padding:0px 10px 0px 0px;
		}

		@media (max-width: $minWidth+px) {
			font-size: 29px;
			padding:0px 10px 0px 0px;

		} 
	}

	&__description {
		padding: 0px 0px 0px 0px;
		font-size: 26px;
		text-align: right;
		line-height: 50px;
		font-family: "AGGloria", Sans-serif; //шрифт не правильний ПОПРАВИТИ!!!

		@media (max-width: $md1+px) {
			font-size: 22px;
			line-height: 30px;
		}

		@media (max-width: $md2+ px) {
			font-size: 18px;
		} 
	}

	&__avalar {
		font-size: 57px;
		padding: 635px 0px 0px 0px;
		text-align: right;
		font-family: "BaronNeue", Sans-serif;

		@media (max-width: 1441+px) {
			padding: 300px 0px 0px 0px;
		}

		@media (max-width: $md1+px) {
			font-size: 49px;
			padding: 100px 0px 0px 0px;
		}
	}

	&__avalar-send {
		font-size: 21px;
		padding: 5px 10px 0px 0px;
		text-align: right;
		font-family: "AGGloria", Sans-serif;
	}


	&__arrow {
		text-align: right;
		margin: 0px -40px 0px 0px;
	}
}

.title-big {
	font-size: 80px;
	font-weight: 300;

}




/*
.about {

	&__item-two-content {
		display: flex;
		justify-content: space-between;
		padding-left: 280px;
	}

	&__item-avalar__description {
		font-size: 26px;
		padding-top: 995px;
		text-align: left;
		line-height: 50px;
	}

	&__column {
		position:relative;
	}

	&__img-two {
		position:absolute;
		top: 500px;
		right: 215px;
	}

	&__colunn-arrows {
		padding-top: 590px;
		padding-right: 120px;
	}

	&__colunn-content__avalar {
		position:absolute;
		left: -20px;
		bottom: -100px;
	}

	&__item-thry {
		margin-top: -250px;
	}

	&__img-thry {
		margin-top: 300px;
		margin-left: 0px;
	}

	&__item-thry {
		background-position: center;
		background-repeat: no-repeat;
		background-size: 1920px 1596px;
		background-image: url("../img/about/big__fon_two.png");
	}

	&__item-content-thre {
		display: flex;
		justify-content: space-between;
		padding-right: 280px;
		padding-top: 200px;
	}


	&__item-content-four {
		display: flex;
		justify-content: space-between;
		padding-left: 280px;
	}



	&__item-four-title {
		color: #fff;
		text-align: left;
		padding-top: 190px;
		font-size: 80px;
		padding-bottom: 70px;
	}

	&__item-four-description {
		color: #fff;
		font-size: 26px;
		text-align: left;
		line-height: 50px;
	}

	&__item-four-avalar {
		color: #fff;
		font-size: 57px;
		padding-top: 635px;
		text-align: left;
	}

	&__item-four-avalar__slogan {
		color: #fff;
		font-size: 21px;
		padding-top: 5px;
		text-align: left;
	}

	&__item-four-avalar__arrow {
		margin-left: -50px;
		text-align: left;
	}

	&__item-two-content {
		display: flex;
		justify-content: space-between;
		padding-left: 280px;
	}

	&__item-avalar__description {
		font-size: 26px;
		padding-top: 995px;
		text-align: left;
		line-height: 50px;
	}

	&__column {
		position:relative;
	}

	&__img-two {
		position:absolute;
		top: 500px;
		right: 215px;
	}

	&__colunn-arrows {
		padding-top: 590px;
		padding-right: 120px;
	}

	&__img-four {
		padding-top: 590px;
	}

	&__item-fife {
		background-position: center;
		background-repeat: no-repeat;
		background-size: 1920px 1596px;
		background-image: url("../img/about/big__fon_two.png");
	}


	&__item-fife-description {
		font-size: 80px;
		text-align: right;
		line-height: 106px;
	}

	&__item-content-fife {
		display: flex;
		justify-content: space-between;
		padding-right: 280px;
		padding-top: 200px;
	}



}

.white {
	color: #fff;
	text-align: left;
}

*/

@media (min-width: 767px) {
  .header__languages-menu {
    font-size: calc(10px + 10 * (100vw / 1920));
  }

  .menu__page li {
    font-size: calc(15px + 7 * (100vw / 1920));
  }

  .menu__page li a:hover {
    font-size: calc(25px + 5 * (100vw / 1920));
  }

  .contact-page__row-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }

  .contact-page__title {
    font-size: calc(40px + 25 * (100vw / 1920));
  }

  .contact-page__slogan h2 {
    font-size: calc(29px + 88 * (100vw / 1920));
  }

  .teem__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }

  .teem__slogan h2 {
    font-size: calc(29px + 38 * (100vw / 1920));
  }

  .teem-content__title {
    font-size: calc(40px + 40 * (100vw / 1920));
  }

  .teem-content__description {
    font-size: calc(16px + 10 * (100vw / 1920));
  }

  .teem-content__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }

  .teem__column-title {
    font-size: calc(40px + 40 * (100vw / 1920));
  }

  .teem__column-description {
    font-size: calc(16px + 10 * (100vw / 1920));
  }

  .portfolio__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }

  .portfolio__slogan-header h2 {
    font-size: calc(29px + 38 * (100vw / 1920));
  }

  .portfolio__item-title h2 {
    font-size: calc(23px + 57 * (100vw / 1920));
  }

  .portfolio__item-subtitle h3 {
    font-size: calc(14px + 12 * (100vw / 1920));
  }

  .about__row-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }

  .about__subtitle {
    font-size: calc(19px + 13 * (100vw / 1920));
  }

  .about__slogan h2 {
    font-size: calc(29px + 38 * (100vw / 1920));
  }

  .about-item__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  .about-item__title {
    font-size: calc(40px + 40 * (100vw / 1920));
  }

  .about-item__description {
    font-size: calc(14px + 12 * (100vw / 1920));
  }

  .about-item__logo-avalar {
    font-size: calc(30px + 27 * (100vw / 1920));
  }

  .about-item__logo-send {
    font-size: calc(12px + 9 * (100vw / 1920));
  }

  .contacts__slogan {
    font-size: calc(14px + 16 * (100vw / 1920));
  }

  .contacts__slogan-contact {
    font-size: calc(14px + 12 * (100vw / 1920));
  }

  .contacts__title {
    font-size: calc(10px + 23 * (100vw / 1920));
  }

  .contacts__item {
    font-size: calc(24px + 57 * (100vw / 1920));
  }

  .contacts__item_email-contact {
    font-size: calc(24px + 56 * (100vw / 1920));
  }

  .contacts__item_teem {
    font-size: calc(30px + 51 * (100vw / 1920));
  }

  .contacts__social-menu {
    font-size: calc(12px + 28 * (100vw / 1920));
  }
}

@media (max-width: 1920px) {
  .index {
    padding: 61px 24px 9px 64px;
  }

  .index__img-fon {
    margin: -57px 0px 0px 0px;
  }

  .index__nav {
    padding: 0px 47px 70px 50px;
  }

  .title {
    font-size: 56px;
  }
}

@media (max-width: 1440px) {
  .portfolio__content {
    padding: 90px 0px 0px 0px;
    background: url("../img/portfolio/fon.png") 0 0/cover no-repeat, url("../img/portfolio/more_down.png") 0 100%/450px 420px no-repeat;
  }

  .portfolio__content-img {
    padding: 0px 0px 0px 250px;
  }

  .portfolio__slider {
    margin: -50px 0px 0px 0px;
  }

  .portfolio__item-img {
    padding: 0px 0px 400px 0px;
  }

  .portfolio__avalar-content img {
    padding: 0px 0px 0px 250px;
  }
}

@media (max-width: 1024px) {
  .header__body {
    padding: 50px 50px 35px 50px;
  }

  .menu__body {
    top: 155px;
  }

  .index {
    padding: 51px 24px 9px 54px;
  }

  .title {
    font-size: 45px;
  }

  .contact-page__title {
    padding: 300px 0px 20px 150px;
  }

  .contact-page__slogan {
    bottom: 50px;
    right: 50px;
  }

  .footer__body {
    padding: 50px 50px;
  }

  .teem__avalar {
    bottom: -100px;
    right: 0px;
  }

  .teem-content__top {
    padding: 120px 20px 120px 20px;
  }

  .teem-content__column_one {
    padding: 0px 0px 0px 100px;
  }

  .teem__column-title {
    padding: 0px 0px 60px 0px;
  }

  .teem__column-description {
    line-height: 40px;
    padding: 0px 0px 100px 0px;
  }

  .portfolio__column_two {
    -ms-flex-item-align: center;
        align-self: center;
  }

  .portfolio__title {
    padding: 0px 100px 110px 0px;
    text-align: right;
    line-height: 80px;
  }

  .portfolio__avalar {
    bottom: -100px;
    right: 0px;
  }

  .portfolio__pagination {
    padding: 0px 0px 50px 80px;
  }

  .portfolio__item-title {
    padding: 0px 0px 50px 80px;
  }

  .portfolio__item-subtitle {
    padding: 0px 0px 0px 80px;
  }

  .portfolio__item-img {
    padding: 0px 0px 300px 0px;
  }

  .about__avalar {
    bottom: -100px;
    right: 0px;
  }

  .about-item {
    padding: 150px 0px 0px 0px;
  }

  .about-item__title {
    padding: 0px 0px 50px 0px;
  }

  .about-item__description {
    line-height: 40px;
  }

  .contacts {
    padding: 50px 50px 0px 50px;
  }

  .contacts__column {
    margin: 0px 0px 0px 50px;
  }

  .contacts__slogan {
    padding: 0px 0px 60px 0px;
  }

  .contacts__slogan-contact {
    padding: 0px 0px 30px 0px;
  }

  .contacts__title {
    padding: 0px 0px 60px 60px;
    margin: 0px 0px 60px -60px;
  }

  .contacts__item {
    padding: 0px 0px 20px 0px;
  }

  .contacts__item_phone-contact {
    margin: 0px 0px 150px 0px;
  }

  .contacts__item_email {
    margin: 0px 0px 80px 0px;
  }

  .contacts__item_email-contact {
    margin: 0px 0px 150px 0px;
  }

  .contacts__img {
    margin: 300px 0px 100px 0px;
  }
}

@media (max-width: 767px) {
  .header__body {
    padding: 40px 40px 35px 40px;
  }

  .header__languages-menu {
    font-size: calc(10px + 17 * ((100vw - 375px) / 1920));
  }

  .header__languages-menu li {
    padding: 0px 20px 0px 0px;
  }

  .menu__body {
    top: 145px;
  }

  .menu__page li {
    font-size: calc(15px + 11.9 * ((100vw - 375px) / 1920));
  }

  .menu__page li a:hover {
    font-size: calc(25px + 8.5 * ((100vw - 375px) / 1920));
  }

  .index {
    padding: 44px 24px 9px 41px;
  }

  .index__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .index__wrapper {
    margin: 0 auto;
  }

  .index__wrapper {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }

  .index__img {
    padding-bottom: 220px;
  }

  .index__nav {
    padding: 0px 47px 200px 50px;
    position: absolute;
    right: 0;
  }

  .index__menu-main {
    text-align: right;
  }

  .title {
    font-size: 56px;
  }

  .contact-page__row-header-column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .contact-page__row-header-column_one {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .contact-page__row-header-column_two {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .contact-page__title {
    font-size: calc(40px + 42.5 * ((100vw - 375px) / 1920));
  }

  .contact-page__title {
    padding: 30px 0px 30px 0px;
  }

  .contact-page__geometry {
    padding: 0px 0px 70px 90px;
  }

  .contact-page__slogan h2 {
    font-size: calc(29px + 149.6 * ((100vw - 375px) / 1920));
  }

  .contact-page__slogan {
    bottom: -200px;
    right: 10px;
  }

  .contact-page__avalar {
    top: 100%;
    right: 0;
  }

  .footer__body {
    padding: 40px 40px;
  }

  .teem__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .teem__column_one {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .teem__column_two {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .teem__geometry {
    padding: 0px 90px 100px 0px;
  }

  .teem__img-header {
    margin: 0px -50px 0px -50px;
    padding: 90px 0px 30px 0px;
  }

  .teem__slogan h2 {
    font-size: calc(29px + 64.6 * ((100vw - 375px) / 1920));
  }

  .teem__slogan {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }

  .teem__avalar {
    bottom: -70px;
    right: 0px;
  }

  .teem-content__top {
    padding: 90px 20px 90px 20px;
  }

  .teem-content__title {
    font-size: calc(40px + 68 * ((100vw - 375px) / 1920));
  }

  .teem-content__description {
    font-size: calc(16px + 17 * ((100vw - 375px) / 1920));
  }

  .teem-content__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .teem-content__column_two {
    display: none;
  }

  .teem-content__column_one {
    padding: 0px 0px 0px 60px;
  }

  .teem__column-title {
    font-size: calc(40px + 68 * ((100vw - 375px) / 1920));
  }

  .teem__column-title {
    padding: 0px 0px 30px 0px;
  }

  .teem__column-description {
    font-size: calc(16px + 17 * ((100vw - 375px) / 1920));
  }

  .teem__column-description {
    line-height: 30px;
    padding: 0px 0px 70px 0px;
  }

  .portfolio__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .portfolio__column_one {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .portfolio__column_two {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .portfolio__title {
    padding: 0px 50px 90px 0px;
    text-align: right;
    line-height: 70px;
  }

  .portfolio__slogan-header h2 {
    font-size: calc(29px + 64.6 * ((100vw - 375px) / 1920));
  }

  .portfolio__slogan-header {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }

  .portfolio__avalar {
    bottom: -70px;
    right: 0px;
  }

  .portfolio__content-img {
    padding: 0px 0px 0px 150px;
  }

  .portfolio__slider {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 10px;
  }

  .portfolio__pagination {
    padding: 0px 0px 0px 50px;
  }

  .portfolio__img-left {
    padding: 0px 20px 0px 0px;
  }

  .portfolio__img-right {
    padding: 0px 0px 0px 20px;
  }

  .portfolio__item-title {
    padding: 0px 0px 30px 50px;
  }

  .portfolio__item-title h2 {
    font-size: calc(23px + 96.9 * ((100vw - 375px) / 1920));
  }

  .portfolio__item-subtitle {
    padding: 0px 0px 0px 50px;
  }

  .portfolio__item-subtitle h3 {
    font-size: calc(14px + 20.4 * ((100vw - 375px) / 1920));
  }

  .portfolio__item-img {
    padding: 100px 0px 200px 0px;
  }

  .portfolio__avalar-content img {
    padding: 0px 0px 100px 0px;
  }

  .about__row-header-column-one {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .about__row-header-column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0px 0px 0px 50px;
  }

  .about__geometry {
    margin: 0px 0px 0px 0px;
  }

  .about__subtitle {
    font-size: calc(19px + 22.1 * ((100vw - 375px) / 1920));
  }

  .about__img-header {
    padding: 30px 30px 30px 0px;
  }

  .about__slogan h2 {
    font-size: calc(29px + 64.6 * ((100vw - 375px) / 1920));
  }

  .about__slogan {
    bottom: 20px;
    right: 50px;
  }

  .about__avalar {
    bottom: 30px;
    right: 0px;
  }

  .about-item {
    padding: 90px 40px 0px 0px;
  }

  .about-item__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .about-item__column_one {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .about-item__column_two {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .about-item__img {
    margin: 0px 0px 0px -100px;
  }

  .about-item__title {
    font-size: calc(40px + 68 * ((100vw - 375px) / 1920));
  }

  .about-item__title {
    padding: 0px 0px 40px 0px;
  }

  .about-item__description {
    font-size: calc(14px + 20.4 * ((100vw - 375px) / 1920));
  }

  .about-item__description {
    line-height: 30px;
  }

  .about-item__logo-avalar {
    font-size: calc(30px + 45.9 * ((100vw - 375px) / 1920));
  }

  .about-item__logo-send {
    font-size: calc(12px + 15.3 * ((100vw - 375px) / 1920));
  }

  .contacts {
    padding: 40px 40px 0px 40px;
  }

  .contacts__column {
    margin: 0px 0px 0px 40px;
  }

  .contacts__slogan {
    font-size: calc(14px + 27.2 * ((100vw - 375px) / 1920));
  }

  .contacts__slogan {
    padding: 0px 0px 40px 0px;
  }

  .contacts__slogan-contact {
    font-size: calc(14px + 20.4 * ((100vw - 375px) / 1920));
  }

  .contacts__slogan-contact {
    padding: 0px 0px 20px 0px;
  }

  .contacts__title {
    font-size: calc(10px + 39.1 * ((100vw - 375px) / 1920));
  }

  .contacts__title {
    padding: 0px 0px 30px 40px;
    margin: 0px 0px 45px -40px;
  }

  .contacts__item {
    font-size: calc(24px + 96.9 * ((100vw - 375px) / 1920));
  }

  .contacts__item {
    padding: 0px 0px 15px 0px;
  }

  .contacts__item_phone-contact {
    margin: 0px 0px 90px 0px;
  }

  .contacts__item_email {
    margin: 0px 0px 50px 0px;
  }

  .contacts__item_email-contact {
    font-size: calc(24px + 95.2 * ((100vw - 375px) / 1920));
  }

  .contacts__item_email-contact {
    margin: 0px 0px 90px 0px;
  }

  .contacts__item_teem {
    font-size: calc(30px + 86.7 * ((100vw - 375px) / 1920));
  }

  .contacts__img {
    margin: 200px 0px 70px 0px;
  }

  .contacts__avalar {
    top: 20%;
    right: -10%;
  }

  .contacts__social-menu {
    font-size: calc(12px + 47.6 * ((100vw - 375px) / 1920));
  }
}

@media (max-width: 479.98px) {
  .header__body {
    padding: 35px 20px;
  }

  .header__languages-menu li {
    padding: 0px 10px 0px 0px;
  }

  .menu__body {
    top: 140px;
  }

  .index {
    padding: 34px 24px 9px 27px;
  }

  .index__logo img {
    padding-right: 200px;
  }

  .index__img-fon {
    margin: -47px 0px 0px 0px;
  }

  .index__nav {
    padding: 0px 47px 100px 50px;
  }

  .title {
    font-size: 38px;
  }

  .menu li :before {
    padding-right: 3px;
    content: "[";
  }

  .menu li :after {
    padding-left: 3px;
    content: "]";
  }

  .contact-page__title {
    padding: 20px 0px 20px 0px;
  }

  .contact-page__slogan {
    bottom: -60px;
    right: 10px;
  }

  .contact-page__avalar {
    top: 100%;
    right: 0;
  }

  .footer__body {
    padding: 20px 20px;
  }

  .teem__avalar {
    bottom: -20px;
    right: 0px;
  }

  .teem-content__top {
    padding: 90px 20px 80px 20px;
  }

  .teem-content__column_one {
    padding: 0px 0px 0px 0px;
  }

  .teem__column-title {
    padding: 0px 0px 15px 0px;
  }

  .teem__column-description {
    line-height: 30px;
    padding: 0px 0px 70px 0px;
  }

  .portfolio__title {
    padding: 0px 30px 50px 0px;
    line-height: 60px;
  }

  .portfolio__avalar {
    bottom: -20px;
    right: 0px;
  }

  .portfolio__content {
    padding: 50px 0px 0px 0px;
    background: url("../img/portfolio/fon.png") 0 0/cover no-repeat, url("../img/portfolio/more_down.png") 0 100%/114px 108px no-repeat;
  }

  .portfolio__content-img {
    padding: 0px 0px 0px 100px;
    margin: 0px -30px 0px 0px;
  }

  .portfolio__pagination {
    padding: 0px 0px 0px 0px;
  }

  .portfolio__img-left {
    padding: 0px 15px 0px 0px;
  }

  .portfolio__img-right {
    padding: 0px 0px 0px 15px;
  }

  .portfolio__item-title {
    padding: 0px 0px 30px 30px;
  }

  .portfolio__item-subtitle {
    padding: 0px 0px 0px 30px;
  }

  .portfolio__item-img {
    padding: 200px 0px 150px 30px;
  }

  .portfolio__avalar-content img {
    padding: 0px 0px 100px 0px;
  }

  .about__avalar {
    bottom: 20px;
    right: 0px;
  }

  .about-item {
    padding: 70px 40px 0px 0px;
  }

  .about-item__title {
    padding: 0px 0px 30px 0px;
  }

  .about-item__description {
    line-height: 25px;
  }

  .contacts {
    padding: 20px 20px 0px 20px;
  }

  .contacts__column {
    margin: 0px 0px 0px 10px;
  }

  .contacts__slogan {
    padding: 0px 0px 20px 0px;
  }

  .contacts__slogan-contact {
    padding: 0px 0px 10px 0px;
  }

  .contacts__title {
    padding: 0px 0px 20px 20px;
    margin: 0px 0px 25px -15px;
  }

  .contacts__item {
    padding: 0px 0px 10px 0px;
  }

  .contacts__item_phone-contact {
    margin: 0px 0px 50px 0px;
  }

  .contacts__item_email {
    margin: 0px 0px 30px 0px;
  }

  .contacts__item_email-contact {
    margin: 0px 0px 50px 0px;
  }

  .contacts__img {
    margin: 170px 0px 60px 0px;
  }

  .contacts__avalar {
    top: 22%;
    right: -10%;
  }
}

@media (max-width: 375px) {
  .menu__body {
    top: 117px;
  }

  .index__img-fon {
    margin: -39px 0px 0px 0px;
  }

  .index__nav {
    padding: 0px 27px 100px 50px;
  }

  .title {
    font-size: 31px;
  }
}