@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;

400;500;700;900&display=swap&subset=cyrillic-ext");
body {
  color: #000;
  font-size: 14px;
  font-family: "Roboto";
}

body._lock {
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0px 15px;
}

header {
  height: 75vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.top-header:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.2);
  top: 45px;
}

.top-header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts-header__adress {
  font-size: 16px;
  font-weight: 300;
  line-height: 21px;
  letter-spacing: -0.4px;
  color: #fff;
  background: url("../img/contacts/map_marker.svg") left no-repeat;
  padding: 3px 0px 0px 27px;
}

.contacts-header__phone {
  font-size: 16px;
  font-weight: 300;
  line-height: 21px;
  letter-spacing: -0.4px;
  color: #fff;
  background: url("../img/contacts/phone.svg") left no-repeat;
  padding: 3px 0px 0px 27px;
  margin-left: 35px;
  cursor: pointer;
}

.contacts-header__phone:hover {
  color: red;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.fixed__container._anim-items._fixed {
  padding-top: 15px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  background-color: #d14622;
  position: fixed;
  width: 100%;
  top: 0;
  height: 83px;
  z-index: 10;
  -webkit-box-pack: safe center;
      -ms-flex-pack: safe center;
          justify-content: safe center;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__home {
  border-bottom: 1px solid #fff;
}

.menu__link {
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.2px;
  color: #fff;
  margin-left: 30px;
  padding-bottom: 3px;
}

.menu__link:hover {
  border-bottom: 1px solid #fff;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.social-header {
  padding: 15px 0px 15px 0px;
}

.social-header__facebook img {
  width: 15px;
  padding-right: 10px;
}

.social-header__telegram img {
  width: 15px;
  padding-right: 10px;
}

.social-header__youtube img {
  width: 15px;
}

.icon-menu {
  display: none;
}

.bottom-header__column {
  -webkit-transform: translate(-120%, 0px);
      -ms-transform: translate(-120%, 0px);
          transform: translate(-120%, 0px);
  opacity: 0;
  -webkit-transition: all 0.9s ease 0s;
  -o-transition: all 0.9s ease 0s;
  transition: all 0.9s ease 0s;
  padding: 80px 0px 0px 0px;
}

.bottom-header__column:before {
  content: "";
  position: absolute;
  width: 20px;
  height: 4px;
  background-color: #fff;
}

.bottom-header__column._fixed {
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
}

.bottom-header__title {
  padding: 35px 0px 50px 0px;
  color: #fff;
  font-size: 62px;
  text-transform: uppercase;
}

.bottom-header__subtitle {
  color: #ffffff;
  font-family: "Roboto", Sans-serif;
  font-size: 14px;
  font-weight: 300;
}

.bottom-header__subtitle span {
  font-weight: 700;
}

.bottom-header__button {
  display: inline-block;
  margin: 35px 0px 80px 0px;
  color: #000;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 16px;
  background-color: #fff;
  padding: 12px 20px 12px 20px;
  border: 2px solid #fff;
  border-radius: 2px;
}

.bottom-header__button:hover {
  background-color: #000;
  color: #fff;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.column-offer {
  padding: 100px 15px 100px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
}

.column-offer__all:before {
  content: "";
  position: absolute;
  width: 20px;
  height: 4px;
  background-color: #d14622;
}

.all-offer__title {
  padding: 35px 0px 30px 0px;
  color: #353637;
  font-size: 62px;
  text-transform: uppercase;
}

.all-offer__button {
  display: inline-block;
  margin-top: 25px;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 16px;
  background-color: #fe4819;
  padding: 12px 20px 12px 20px;
  border: 2px solid #fe4819;
  border-radius: 2px;
}

.all-offer__button:hover {
  background-color: #fff;
  color: #000;
  border: 2px solid #000;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.article-offer {
  display: block;
  margin: 0px 13px 0px 13px;
  padding: 16px 16px 16px 16px;
  -webkit-box-shadow: 0px 0px 32px 8px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 0px 32px 8px rgba(0, 0, 0, 0.08);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.article-offer__img {
  display: inline-block;
  margin-bottom: 40px;
}

.article-offer__title {
  font-family: "Roboto", Sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-transform: none;
  text-decoration: none;
  line-height: 19px;
  color: #000;
}

.article-offer__title:hover {
  color: #fe4819;
}

.article-offer__description {
  margin-bottom: 20px;
  color: #62656a;
  font-family: "Roboto", Sans-serif;
  font-size: 12px;
  line-height: 17px;
  letter-spacing: 0.02px;
}

.article-offer__price {
  color: #353637;
  font-family: "Roboto", Sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 16px;
}

.article-offer__link {
  font-family: "Roboto", Sans-serif;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 16px;
  color: #fe4819;
}

.advantage {
  background-color: #d14622;
  padding-bottom: 50px;
}

.advantage__content-top {
  padding: 30px 0px 0px 0px;
}

.advantage__content-top:before {
  content: "";
  position: absolute;
  width: 20px;
  height: 4px;
  background-color: #fff;
}

.advantage__title {
  padding: 35px 0px 50px 0px;
  color: #fff;
  font-size: 62px;
  text-transform: uppercase;
}

.advantage__content-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.advantage__description {
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.2em;
}

.advantage__column__img {
  max-width: 300px;
}

.advantage__column-preference {
  padding: 80px 10px 0px 10px;
  max-width: 330px;
}

.title-preference__time {
  font-weight: 400;
  font-size: 39px;
  line-height: 1.4;
  font-family: Heading Pro Heavy, sans-serif;
  color: #000;
  background: url("../img/advantage/icons/clock.png") left no-repeat;
  padding-left: 50px;
}

.title-preference__upload {
  margin-top: 100px;
  font-weight: 400;
  font-size: 39px;
  line-height: 1.4;
  font-family: Heading Pro Heavy, sans-serif;
  color: #000;
  background: url("../img/advantage/icons/upload.png") left no-repeat;
  padding-left: 50px;
}

.title-preference__wifi {
  font-weight: 400;
  font-size: 39px;
  line-height: 1.4;
  font-family: Heading Pro Heavy, sans-serif;
  color: #000;
  background: url("../img/advantage/icons/wifi.png") left no-repeat;
  padding-left: 60px;
}

.title-preference__easy {
  margin-top: 100px;
  font-weight: 400;
  font-size: 39px;
  line-height: 1.4;
  font-family: Heading Pro Heavy, sans-serif;
  color: #000;
  background: url("../img/advantage/icons/check.png") left no-repeat;
  padding-left: 50px;
}

.wrapper-about {
  padding: 100px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: safe start;
      -ms-flex-pack: safe start;
          justify-content: safe start;
}

.wrapper-about__column {
  padding-left: 15px;
}

.wrapper-about__image {
  display: inline-block;
  width: 600px;
}

.wrapper-about__title {
  color: #353637;
  font-family: "Anton", Sans-serif;
  font-size: 62px;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 1.177em;
  letter-spacing: 0px;
}

.wrapper-about__subtitle {
  color: #353637;
  font-family: "Roboto", Sans-serif;
  font-size: 14px;
  font-weight: 300;
  text-decoration: none;
  line-height: 1.5em;
  letter-spacing: 0px;
}

.wrapper-about__item-left {
  padding: 80px 0px 0px 100px;
}

.wrapper-about__item-left:before {
  content: "";
  position: absolute;
  width: 20px;
  height: 4px;
  background-color: #d14622;
}

.wrapper-about__button-left {
  display: inline-block;
  margin-top: 25px;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 16px;
  background-color: #fe4819;
  padding: 12px 20px 12px 20px;
  border: 2px solid #fe4819;
  border-radius: 2px;
}

.wrapper-about__button-left:hover {
  background-color: #fff;
  color: #000;
  border: 2px solid #000;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.wrapper-about__button-reight {
  display: inline-block;
  margin-top: 25px;
  color: #000;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 16px;
  background-color: #fff;
  padding: 12px 20px 12px 20px;
  border: 2px solid #000;
  border-radius: 2px;
}

.wrapper-about__button-reight:hover {
  background-color: #fe4819;
  color: #fff;
  border: 2px solid #fe4819;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.platforms {
  background-color: #000;
  padding: 50px;
}

.platforms__title {
  padding: 35px 0px 50px 0px;
  color: #fff;
  font-size: 62px;
  text-transform: uppercase;
}

.row-platforms__top {
  text-align: center;
  padding: 30px 0px 0px 0px;
}

.row-platforms__top:before {
  content: "";
  position: absolute;
  width: 20px;
  height: 4px;
  background-color: #fff;
}

.row-platforms__botoom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: safe center;
      -ms-flex-pack: safe center;
          justify-content: safe center;
}

.row-platforms__column {
  width: 600px;
  text-align: center;
}

.row-platforms__column-windows {
  display: inline-block;
  width: 200px;
  color: #ffffff;
  font-family: "Roboto", Sans-serif;
  font-size: 18px;
  font-weight: 500;
  text-transform: none;
  line-height: 21px;
  letter-spacing: 0px;
  padding-top: 130px;
  background: url("../img/platforms/windows.png") top no-repeat;
}

.row-platforms__column-android {
  display: inline-block;
  width: 200px;
  color: #ffffff;
  font-family: "Roboto", Sans-serif;
  font-size: 18px;
  font-weight: 500;
  text-transform: none;
  line-height: 21px;
  letter-spacing: 0px;
  padding-top: 130px;
  background: url("../img/platforms/android.png") top no-repeat;
}

.reviews {
  padding: 70px 0px 50px 0px;
}

.reviews__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: safe center;
      -ms-flex-pack: safe center;
          justify-content: safe center;
}

.column-reviews__left:before {
  content: "";
  position: absolute;
  width: 20px;
  height: 4px;
  background-color: #d14622;
}

.column-reviews__title {
  padding: 35px 0px 30px 0px;
  color: #353637;
  font-size: 62px;
  text-transform: uppercase;
}

.column-reviews__slider {
  padding: 40px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.column-reviews__item {
  display: block;
  margin: 0px 13px 0px 13px;
  padding: 16px 16px 16px 16px;
  -webkit-box-shadow: 0px 0px 32px 8px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 0px 32px 8px rgba(0, 0, 0, 0.08);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
}

.column-reviews__item-content {
  padding: 20px;
}

.column-reviews__photo {
  width: 60px;
}

.column-reviews__description {
  padding: 10px 0px 0px 10px;
}

.column-reviews__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0px 0px 0px;
}

.column-reviews__text {
  color: #000;
  font-size: 14px;
  font-family: Roboto;
}

.column-reviews__name {
  display: block;
  color: #353637;
  font-family: "Roboto", Sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0px;
}

.column-reviews__position {
  text-align: left;
  color: #62656a;
  font-family: "Roboto", Sans-serif;
  font-size: 12px;
  font-weight: 300;
  line-height: 1.417em;
  letter-spacing: 0.02px;
}

.contacts {
  background-color: #d14622;
  padding: 50px 50px 100px 0;
}

.contacts__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts__column-reight {
  margin-left: 60px;
}

.contacts__column-title {
  color: #ffffff;
  font-family: "Roboto", Sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.167em;
  letter-spacing: 0.5px;
}

.contacts__column-description {
  display: inline-block;
  padding: 20px 0px 50px 0px;
  color: #ffffff;
  font-family: "Roboto", Sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.429em;
  letter-spacing: 0.3px;
}

.contacts__column-input {
  width: 430px;
  height: 50px;
  font-size: 16px;
  padding: 5px 0px 5px 10px;
  margin-bottom: 15px;
  background-color: #d14622;
  border: 1px solid #fff;
}

.contacts__column-submit {
  display: inline-block;
  margin: 10px 0px 10px 0px;
  color: #000;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 16px;
  background-color: #fff;
  padding: 12px 20px 12px 20px;
  border-radius: 2px;
  border: none;
}

.contacts__column-submit:hover {
  color: #d14622;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.contacts__column-subdescription {
  color: #fff;
  font-family: "Roboto", Sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0.3px;
}

.footer {
  background: #000;
  padding: 20px 0px 10px 0px;
}

.footer__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
}

.column__footer-item {
  padding-right: 40px;
}

.column__footer-cocial__title {
  color: #ffffff;
  font-family: "Roboto", Sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.429em;
  letter-spacing: 0px;
}

.column__footer-contact__title {
  color: #fff;
  font-family: "Roboto", Sans-serif;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  font-style: normal;
  text-decoration: none;
  line-height: 1.778em;
  letter-spacing: 0px;
}

.column__footer-phone {
  color: #ffffff;
  font-family: "Roboto", Sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 16px;
  letter-spacing: 0.15px;
}

.column__footer-phone:hover {
  color: red;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.column__footer-phone span {
  color: #fe4819;
  font-weight: 600;
}

.column__footer-adress {
  color: #ffffff;
  font-family: "Roboto", Sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 16px;
  letter-spacing: 0.15px;
  margin: 20px 0px 20px 0px;
}

.column__footer-adress span {
  color: #fe4819;
  font-weight: 600;
}

.column__footer-email {
  color: #ffffff;
  font-family: "Roboto", Sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 16px;
  letter-spacing: 0.15px;
}

.column__footer-email span {
  color: #fe4819;
  font-weight: 600;
}

.column__footer-insta__title {
  color: #fff;
  font-family: "Roboto", Sans-serif;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  font-style: normal;
  text-decoration: none;
  line-height: 1.778em;
  letter-spacing: 0px;
}

.column__footer-mailing__title {
  color: #fff;
  font-family: "Roboto", Sans-serif;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  font-style: normal;
  text-decoration: none;
  line-height: 1.778em;
  letter-spacing: 0px;
}

.column__footer-mailing-input {
  width: 230px;
  height: 40px;
  font-size: 16px;
  padding: 5px 0px 5px 10px;
  margin-bottom: 15px;
  background: transparent;
  border: 1px solid #fff;
  border-radius: 5px;
}

.column__footer-mailing-submit {
  display: block;
  margin: 10px 0px 10px 0px;
  color: #000;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 16px;
  background-color: #fff;
  padding: 12px 20px 12px 20px;
  border-radius: 2px;
  border: none;
}

.column__footer-mailing-submit:hover {
  color: #d14622;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.column__footer-mailing-description {
  color: #ffffff;
  font-family: "Roboto", Sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.429em;
  letter-spacing: 0px;
}

.copirate {
  color: #acadb3;
  font-family: "Roboto", Sans-serif;
  font-size: 12px;
  font-weight: 300;
  line-height: 14px;
  letter-spacing: 0.02px;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

@media (max-width: 767.98px) {
  .top-header__row.row-top {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }

  .contacts-header__adress {
    display: none;
  }

  .contacts-header__phone {
    display: none;
  }

  .menu__list {
    display: none;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: calc(50% - 1px);
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
  }

  .icon-menu span:first-child {
    top: 0px;
  }

  .icon-menu span:last-child {
    top: auto;
    bottom: 0px;
  }

  .icon-menu._active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .icon-menu._active span:first-child {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1px);
  }

  .icon-menu._active span:last-child {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }

  .bottom-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .bottom-header__column {
    text-align: center;
  }

  .bottom-header__title {
    font-size: 49px;
  }
}