.title {
	font-weight: bold;
	font-size: 36px;
	line-height: 49px;
	text-align: center;
	color: #504F56;

	@media (max-width: 1439px) {
		@include adaptiv-font(36, 24);
	}

	@media (max-width: $md1+px) {
		line-height: 40px;
	}

	@media (max-width: $md3+px) {
		line-height: 34px;
	}

	@media (max-width: $md5+px) {
		line-height: 28px;
	}	

	&__main {
		font-size: 48px;
		font-weight: bold;
		line-height: 65px;
		color:#EC6277;

		@media (max-width: 1439px) {
			@include adaptiv-font(48, 35);
		}

		@media (max-width: $md1+px) {
			line-height: 55px;
		}

		@media (max-width: $md3+px) {
			width: 100%;
			text-align: center;
			line-height: 45px;
		}

		@media (max-width: $md5+px) {
			line-height: 35px;
		}
	}

	&_red {
		font-weight: bold;
		font-size: 36px;
		line-height: 49px;
		color:#EC6277;
	}

	&_blue {
		font-weight: bold;
		font-size: 36px;
		line-height: 49px;
		color:#76A7D5;
	}
}

.description {
	font-weight: 700;
	font-size: 24px;
	line-height: 32px;
	text-align: center;
	color: #595FA7;
	padding-right: 105px;
	padding-bottom: 10px;
	background: url('../img/about/planer.svg') right bottom no-repeat;

	@media (max-width: 1439px) {
		@include adaptiv-font(24, 18);
	}

	@media (max-width: $md1+px) {
		line-height: 30px;
	}

	@media (max-width: $md3+px) {
		line-height: 26px;
	}

	@media (max-width: 600px) {
		padding: 0;
		background: none;
	}

	@media (max-width: $md5+px) {
		line-height: 24px;
	}
}

.text {
	line-height: 22px;
	color: #363636;

	&_up {
		text-transform: uppercase;
		font-weight: 600;
		transition: 0.3s;

		&:hover {
			color: #5DACDA;
		}
	}

	&_hover {
		
		transition: 0.3s;

		&:hover {
			color: #5DACDA;
		}
	}

	&-footer {
		line-height: 25px;

		@media (max-width: 600px) {
			line-height: 22px;
		}
	}

	&_bold {
		font-weight: 700;
	}

	&-red {
		font-size: 18px;
		color: #EC6277;
		font-weight: 700;

		&__little {
			@media (max-width: 1439px) {
				@include adaptiv-font(16, 14);
			}
		}
	}

	&__subtitle {
		font-size: 24px;
		line-height: 34px;
		color: #EC6277;
		font-weight: 700;
		@media (max-width: 1439px) {
			@include adaptiv-font(24, 18);
		}

		@media (max-width: $md3+px) {
			width: 100%;
			text-align: center;
		}		
	}

	&__blue {
		color: #5DACDA;
		padding: 40px 0px;

		@media (max-width: $md3+px) {
			padding: 30px 0px;
			width: 100%;
			text-align: center;
		}

		
		@media (max-width: $md4+px) {
			padding: 20px 0px;
		}	
	}
}

.button {
	font-size: 18px;
	line-height: 25px;
	text-align: center;
	width: 225px;
	display: inline-block;
	padding: 13px 0;
	color: #F8F8F8;
	border-radius: 60px 10px;
	border: 3px solid  #EC6277;
	background-color: #EC6277;

	&:hover{
		background-color: #ec627700;
		color:  #EC6277;
		transition: 0.3s;
	}

	@media (max-width: 1439px) {
		@include adaptiv-font(18, 16);
	}

	@media (max-width: $md1+px) {
		line-height: 20px;
		width: 200px;
		padding: 10px 0;
	}

	@media (max-width: $md5+px) {
		line-height: 16px;
		width: 175px;
		padding: 8px 0;
		//border: 2px solid  #EC6277;
	}

	&__menu {
		display: none;

		@media (max-width: 1000px) {
			display: block;
		}
	}

	&-plane {
		padding:7px 212px 7px 0px;
		width: 435px;
		background: url('../img/design_element/plane.svg') right no-repeat;

		@media (max-width: $md1+px) {
			padding:12px 212px 12px 0px;
			width: 410px;
		}

		@media (max-width: $md3+px) {
			margin: 0 auto;
		}

		@media (max-width: $md4+px) {
			background: none;
			padding: 7px;
			display: flex;
			justify-content: center;
			width: 100%;
		}
	}
}

.contacts {
	&__adress {
		margin-bottom: 20px;
		padding-left: 35px;
		background: url('../img/icon/marker_blue.svg') 0 0 no-repeat;

		@media (max-width: 600px) {
			margin-bottom: 10px;
		}
	}

	&__phone {
		margin-bottom: 15px;
		padding-left: 35px;
		background: url('../img/icon/phone.svg') left no-repeat;

		&-solid {
			margin-bottom: 20px;
			background: url('../img/icon/phone_blue.svg') left no-repeat;	
			
			@media (max-width: 600px) {
				margin-bottom: 10px;
			}

			&_head {
				padding-left: 20px;
				background: url('../img/icon/phone_blue.svg') left/15px 15px no-repeat;	
				display: none;
				@include adaptiv-font(14, 14);
				@media (max-width: 600px) {
					line-height: 14px;
					display: block;
					margin-bottom: 5px;
				}
			}
		}
	}

	&__mail {
		padding-left: 35px;
		background: url('../img/icon/mail_blue.svg') left no-repeat;
	}
}

._row {
	width: 100%;
	display: flex;
	//margin: 0px -15px;
	justify-content: space-between;

	@media (max-width: $md3+px){
		flex-wrap: wrap;
	}
}

._column {
	width: 100%;
	&_two {
		flex: 0 1 50%;
		padding: 5px;
		margin: 0px -15px;
		display: flex;
		flex-direction: column;
		justify-content: center;

		@media (max-width: $md3+px){
			margin: 10px 0px;
			flex: 0 1 100%;

			&_order-one {
				order: 2;
			}

			&_order-wto {
				order: 1;
			}
		}
	}
}

.hide {
	display: none;
}