.navbar__body {
	position: relative;
	align-items: center;
	display: flex;
	height: 45px;
	align-items: center;
	justify-content: space-between;

 }
 
 .navbar__burger {
	display: none;
 }
 
 .navbar__burger span {
	transition: all 0.3s ease 0s;
	position: absolute;
	background-color: #297FCA;
	left: 0;
	width: 100%;
	height: 2px;
	top: 9px;
 }
 
 .navbar__burger span:first-child {
	top: 0px;
 }
 
 .navbar__burger span:last-child {
	top: auto;
	bottom: 0px;
 }
 
 .navbar__burger._active span {
	transform: scale(0);
 }
 
 .navbar__burger._active span:first-child {
	transform: rotate(-45deg);
	top: calc(50% - 1px);
 }
 
 .navbar__burger._active span:last-child {
	transform: rotate(45deg);
	bottom: calc(50% - 1px);
 }
 
 .navbar__menu {
	 width: 100%;
 }
 
 .navbar__menu._active {
	top: 0;
 }
 
 .navbar__list {
	display: flex;
	justify-content: space-between;
	position: relative;
	z-index: 3;
 }
 
 .navbar__link {
	text-transform: uppercase;
	position: relative;
	font-weight: bold;
	font-size: 16px;
	line-height: 22px;
	color: #363636;
 }
 
 .navbar__link:hover {
	color: #297FCA;
	transition: 0.3s;
 }

 
 @media (max-width: 1000px) {

	.navbar__body {
		justify-content: space-between;
	}

	.navbar__body {
		height: 50px;
	}

	.navbar__logo {
		flex: 0 0 130px;
	}

	.navbar__burger {
		display: block;
		position: relative;
		width: 30px;
		height: 20px;
		z-index: 51;
	}

	.navbar__menu {
		transition: all 0.5s ease 0s;
		padding: 50px 0px 0px 0px;
		position: fixed;
		top: -300%;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(255, 255, 255, 0.93);
		z-index: 50;
	}

	.navbar__list li {
		margin: 0px 0px 0px 0px;
		text-align: center;
		padding: 10px;
		margin: 0px 50px;
		border-bottom: 1px solid #5DACDA;

		&:last-child {
			border: none;
		}
	}

	.navbar__list {
		display: block;
	}

	.navbar__link {
		color: #000;
	}
}

._fixed {
	background-color: #fff;
	position: fixed;
	left: 0;
	top: 30px;
	z-index: 50;
	width: 100%;

	@media (max-width: 600px) {
		top: 43px;
	}
}