.reviews {
	margin-bottom: 115px;
	display: flex;

	@media (max-width: 1100px) {
		margin-bottom: 80px;
	}

	@media (max-width: 670px) {
		margin-bottom: 50px;
	}

	&__content {		
		position: relative;
		padding: 30px;
		width: 955px;
		height: 100%;
		background: rgba(93, 172, 218, 0.15);
		border-radius: 30px;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		z-index: 1;

		@media (max-width: 1100px) {
			width: 750px;
			//height: 200px;
			padding: 20px;
		}

		@media (max-width: 830px) {
			width: 600px;
			//height: 180px;
		}

		@media (max-width: 670px) {
			width: 450px;
			//height: 180px;
		}

		@media (max-width: 530px) {
			width: 350px;
			//height: 170px;
		}

		@media (max-width: $md6+px) {
			width: 300px;
			//height: 160px;
			padding: 20px 5px 20px 5px;
		}

	}

	&__description {
		text-align: center;
		padding: 30px 0px 30px 0px;
	}

	&__fon-balloon {
		position: absolute;
		top: 120px;
		left: -40px;
		z-index: 1;

		& img {
			max-width: 100%;
		}

		@media (max-width: 1100px) {
			width: 90px;
			height: 135px;
			top: 90px;
			left: -40px;
		}

		@media (max-width: 830px) {
			width: 81px;
			height: 120px;
			top: 100px;
			right: -35px;
		}

		@media (max-width: 670px) {
			width: 70px;
			height: 106px;
			top: 125px;
			left: -25px;
		}

		@media (max-width: $md5+px) {
			width: 63px;
			height: 95px;
			top: 130px;
			left: -15px;
		}

		@media (max-width: $md6+px) {
			width: 57px;
			height: 85px;
			top: 130px;
			left: -15px;
		}

		&_bid {

				@media (max-width: 670px) {

					top: 170px;
					left: -50px;
				}

				@media (max-width: $md4+px) {
					top: 190px;
					left: -35px;
				}

				@media (max-width: $md5+px) {
					top: 190px;
					left: -15px;
				}

				@media (max-width: $md6+px) {
					top: 240px;
					left: -10px;
				}
			
		}
	}

	&__fon-kite {
		position: absolute;
		top: 50px;
		right: -50px;
		z-index: 1;

		& img {
			max-width: 100%;
		}

		@media (max-width: 1100px) {
			width: 90px;
			height: 230px;
			top: 40px;
		}

		@media (max-width: 830px) {
			width: 81px;
			height: 207px;
			top: 20px;
			right: -40px;
		}

		@media (max-width: 670px) {
			width: 70px;
			height: 185px;
			top: 20px;
			right: -40px;
		}

		@media (max-width: 530px) {
			display: none;
		}
	}
}