@font-face {
  font-family: "Lato";
  font-display: swap;
  src: url("../fonts/Lato-Regular.woff") format("woff"), url("../fonts/Lato-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  font-display: swap;
  src: url("../fonts/Lato-Medium.woff") format("woff"), url("../fonts/Lato-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  font-display: swap;
  src: url("../fonts/Lato-Semibold.woff") format("woff"), url("../fonts/Lato-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  font-display: swap;
  src: url("../fonts/Lato-Bold.woff") format("woff"), url("../fonts/Lato-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "NotoSans";
  font-display: swap;
  src: url("../fonts/NotoSans-Bold.woff") format("woff"), url("../fonts/NotoSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "NotoSans";
  font-display: swap;
  src: url("../fonts/NotoSans-Regular.woff") format("woff"), url("../fonts/NotoSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Lato";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Lato";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #222222;
  font-size: 16px;
  line-height: 26px;
  background-color: #fff;
  font-family: "Lato";
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  height: 100%;
}

._container {
  max-width: 1110px;
  margin: 0 auto;
}

._no-webp .header__main {
  background: url("../img/fon_main_hd.jpg") center center/cover no-repeat; }

.header__main {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__head {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  width: 152px;
  height: 21px;
  background: url("../img/logo_white.svg") center center/contain no-repeat;
}

.header__logo._active {
  background: url("../img/logo_black.svg") center center/contain no-repeat;
}

.header__body {
  max-width: 540px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__buttom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 35px;
}

.header__buttom-container {
  width: 48px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__buttom-container_middle {
  margin: 0px 10px;
}

.header__buttom_telegram {
  width: 24px;
  height: 24px;
  background: url("../img/icon/icon_telegram.svg") center center/contain no-repeat;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.header__buttom_telegram:hover {
  width: 48px;
  height: 48px;
  background: url("../img/icon/icon_telegram_red_hover.svg") center center/contain no-repeat;
}

.header__buttom_viber {
  width: 24px;
  height: 24px;
  background: url("../img/icon/icon_viber.svg") center center/contain no-repeat;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.header__buttom_viber:hover {
  width: 48px;
  height: 48px;
  background: url("../img/icon/icon_viber_red_hover.svg") center center/contain no-repeat;
}

.header__buttom_instagram {
  width: 24px;
  height: 24px;
  background: url("../img/icon/icon_instagram.svg") center center/contain no-repeat;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.header__buttom_instagram:hover {
  width: 48px;
  height: 48px;
  background: url("../img/icon/icon_instagram_red_hover.svg") center center/contain no-repeat;
}

.header__title {
  padding-bottom: 16px;
  font-family: "NotoSans";
  font-weight: 700;
  font-size: 44px;
  line-height: 54px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
}

.header__text {
  padding-bottom: 48px;
  font-family: "Lato";
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.menu__link {
  width: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__link._active {
  top: 60px;
}

.menu__item_line {
  border-bottom: 2px solid rgba(168, 168, 168, 0.25);
}

.menu__item_noline {
  border: none;
}

.menu__item_mobile {
  display: none;
}

.menu__phone {
  width: 330px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__phone-contact._active {
  display: none;
}

.menu__phone-icon {
  display: none;
}

.menu__text {
  padding-bottom: 4px;
  font-family: "Lato";
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.005em;
  color: #FFFFFF;
  position: relative;
}

.menu__text_page {
  color: #131234;
}

.menu__text::after {
  position: absolute;
  content: '';
  width: 0%;
  height: 2px;
  background-color: #FF2C2C;
  left: 0;
  bottom: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.menu__text:hover::after {
  width: 50%;
}

.menu__buttom {
  width: 152px;
  height: 40px;
  text-align: center;
  padding: 6px 0px;
  border: 2px solid #FF2C2C;
  border-radius: 7px;
  letter-spacing: 0.03em;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.menu__buttom::after {
  display: none;
}

.menu__buttom:hover {
  border: 2px solid #F55555;
  font-weight: 700;
  letter-spacing: 0.02em;
}

.menu__buttom_reviews {
  height: 100%;
  width: 250px;
  padding: 15px 0px;
  text-transform: uppercase;
  color: #222222;
}

.burger {
  display: none;
  position: relative;
  width: 22px;
  height: 20px;
  z-index: 99;
}

.burger span {
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #fff;
  left: 0;
  top: 9px;
  -webkit-transition: all 0.3 ease 0;
  -o-transition: all 0.3 ease 0;
  transition: all 0.3 ease 0;
}

.burger span:first-child {
  top: 0px;
}

.burger span:last-child {
  top: auto;
  bottom: 0px;
}

.burger_order span {
  background-color: #222;
}

.burger._active span {
  background-color: #222;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.burger._active span:first-child {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: calc(50% - 1px);
}

.burger._active span:last-child {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  bottom: calc(50% - 1px);
}

.header__order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 0%;
  -webkit-box-shadow: 0px 2px 4px rgba(168, 168, 168, 0.25);
          box-shadow: 0px 2px 4px rgba(168, 168, 168, 0.25);
}

.header__logo_order {
  width: 152px;
  height: 21px;
  background: url("../img/logo_black.svg") center center/contain no-repeat;
}

.title {
  font-family: "NotoSans";
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #131234;
  padding-bottom: 70px;
}

.title__white {
  color: #fff;
}

.title__callback {
  font-family: "NotoSans";
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
}

.title__callback spann {
  color: #FF2C2C;
}

.title_two {
  padding-bottom: 15px;
}

.title_three {
  padding-bottom: 15px;
}

.title_popup {
  color: #222222;
  padding-bottom: 30px;
}

.title-two {
  font-family: "Lato";
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #222222;
}

.subtitle {
  font-family: Lato;
  font-style: normal;
  font-size: 16px;
  line-height: 26px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0.005em;
  color: #808897;
  padding-bottom: 70px;
}

.text {
  font-family: "Lato";
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.005em;
  color: #222222;
}

.text_car-park {
  font-size: 14px;
  line-height: 24px;
}

.description {
  font-family: "NotoSans";
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  padding-top: 15px;
}

.button {
  padding: 15px 0px;
  display: block;
  width: 190px;
  height: 52px;
  background: #FF2C2C;
  border-radius: 10px;
  font-family: "Lato";
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.button:hover {
  background: #F55555;
  font-weight: 700;
  letter-spacing: 0.02em;
}

._row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

._row-start {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

._row__car-park {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

._row__reviews {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

._row__services {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

._row__footer {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

._row__contacts {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

._column {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 24.999%;
          flex: 1 1 24.999%;
  height: 100%;
}

._column_advantages {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

._column_we-work {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.333%;
          flex: 1 1 33.333%;
}

._column_car-park {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 22.999%;
          flex: 0 1 22.999%;
  max-width: 255px;
}

._column__order {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

._column__reviews {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 31%;
          flex: 0 1 31%;
  min-height: 100%;
}

._column__services {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 31%;
          flex: 0 1 31%;
  min-height: 100%;
}

._column__footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 20%;
          flex: 0 1 20%;
  min-height: 100%;
}

._column__footer_mobile-two {
  display: none;
}

._column__contacts {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  min-height: 100%;
}

.anchor {
  position: fixed;
  left: 0;
  top: 0;
}

.services {
  position: relative;
  padding-top: 125px;
}

.services__button-container {
  position: absolute;
  width: 1170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 50%;
}

.services__wrapper {
  position: relative;
}

.services__design-element {
  position: absolute;
  top: -30px;
  left: -80px;
}

.services__design-element img {
  max-width: 100%;
}

.services__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 480px;
  padding: 10px;
}

.services__item_img img {
  max-width: 100%;
}

.services__item_title {
  padding-top: 20px;
}

.services__item_text {
  padding-top: 20px;
}

.about {
  padding-top: 125px;
}

.about__design-element {
  position: absolute;
  top: -130px;
  left: -80px;
}

.about__design-element img {
  max-width: 100%;
}

.about__design-element_two {
  position: absolute;
  top: -150px;
  right: 100px;
}

.about__design-element_two img {
  max-width: 100%;
}

._no-webp .about__content {
  background: url("../img/fon_about.png") center center/cover no-repeat; }

.about__content {
  position: relative;
  height: 100%;
}

.about__content-wrapper {
  position: relative;
}

.about__item_one {
  margin-bottom: 30px;
}

.about__item-title {
  margin-bottom: 15px;
}

.about__item-text {
  max-width: 625px;
}

._no-webp .results {
  background: url("../img/fon_result.jpg") center center/cover no-repeat; }

.results {
  margin-top: 60px;
  padding-top: 80px;
  height: 390px;
}

.results__column {
  padding: 22px;
}

.results__column-title {
  font-family: "Lato";
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #FF2C2C;
  padding-bottom: 12px;
}

.results__column-text {
  font-family: "Lato";
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}

.advantages {
  padding-top: 125px;
}

.advantages__column_one {
  margin-right: 15px;
}

.advantages__column_two {
  margin-left: 15px;
}

.advantages__column-item {
  margin-bottom: 50px;
  padding-left: 82px;
}

.advantages__column-item_one {
  background: url("../img/icon/icon_advantages_1.svg") 0 5px/65px 52px no-repeat;
}

.advantages__column-item_two {
  background: url("../img/icon/icon_advantages_2.svg") 0 5px/65px 52px no-repeat;
}

.advantages__column-item_three {
  background: url("../img/icon/icon_advantages_3.svg") 0 5px/65px 52px no-repeat;
}

.advantages__column-item_four {
  background: url("../img/icon/icon_advantages_4.svg") 0 5px/65px 52px no-repeat;
}

.advantages__column-item_five {
  background: url("../img/icon/icon_advantages_5.svg") 0 5px/65px 52px no-repeat;
}

.advantages__column-item_six {
  background: url("../img/icon/icon_advantages_6.svg") 0 5px/65px 52px no-repeat;
}

.advantages__column-title {
  margin-bottom: 15px;
}

.we-work {
  padding-top: 125px;
}

.we-work__column {
  padding: 15px;
}

.we-work__column-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.we-work__column-title {
  padding-bottom: 20px;
  padding-top: 5px;
  position: relative;
  padding-left: 50px;
}

.we-work__column-title_one::before {
  content: '1';
  position: absolute;
  left: 0;
  top: 0;
  width: 40px;
  text-align: center;
  font-family: "Lato";
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 0.02em;
  color: #FF2C2C;
}

.we-work__column-title_two::before {
  content: '2';
  position: absolute;
  left: 0;
  top: 0;
  width: 40px;
  text-align: center;
  font-family: "Lato";
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 0.02em;
  color: #FF2C2C;
}

.we-work__column-title_three::before {
  content: '3';
  position: absolute;
  left: 0;
  top: 0;
  width: 40px;
  text-align: center;
  font-family: "Lato";
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 0.02em;
  color: #FF2C2C;
}

.we-work__column-text {
  font-family: "Lato";
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.005em;
  color: #222222;
  padding-left: 50px;
  background: url("../img/icon/icon_open_box.svg") 0 5px/40px 40px no-repeat;
}

._no-webp .callback {
  background: url("../img/fon_callback.jpg") center center/cover no-repeat; }

.callback {
  margin-top: 60px;
  padding-top: 110px;
  height: 410px;
}

.callback__button {
  display: block;
  margin-top: 70px;
}

._no-webp .callback-two {
  background: url("../img/fon_result.jpg") center center/cover no-repeat; }

.car-park {
  padding-top: 125px;
}

.car-park__item {
  height: 530px;
  padding: 20px 10px;
}

.car-park__item:hover {
  background-color: #EEEEF1;
  -webkit-box-shadow: -4px -4px 15px rgba(238, 238, 241, 0.25), 4px 4px 15px rgba(238, 238, 241, 0.25);
          box-shadow: -4px -4px 15px rgba(238, 238, 241, 0.25), 4px 4px 15px rgba(238, 238, 241, 0.25);
}

.car-park__item:hover .car-park__img img {
  height: 115px;
}

.car-park__item:hover .car-park__img_xl img {
  height: 128px;
}

.car-park__item:hover .car-park__deskription {
  display: block;
}

.car-park__item:hover .car-park__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.car-park__img {
  background-color: #EEEEF1;
  width: 100%;
  height: 171px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0px 5px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.car-park__img img {
  max-width: 100%;
}

.car-park__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 25px;
  padding-bottom: 30px;
}

.car-park__price_data {
  font-family: "Lato";
  font-weight: 500;
  text-align: right;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.005em;
  color: #E82E2E;
}

.car-park__characteristics-item {
  padding-left: 28px;
  padding-bottom: 10px;
}

.car-park__characteristics-item_one {
  background: url("../img/icon/icon_park_1.svg") 0 3px/22px 22px no-repeat;
}

.car-park__characteristics-item_two {
  background: url("../img/icon/icon_park_2.svg") 0 3px/22px 22px no-repeat;
}

.car-park__characteristics-item_three {
  background: url("../img/icon/icon_park_3.svg") 0 3px/22px 22px no-repeat;
}

.car-park__deskription {
  display: none;
  padding-top: 10px;
  padding-bottom: 30px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.car-park__deskription-item {
  font-family: "Lato";
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 0.005em;
  color: #222222;
}

.car-park__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: none;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.loaders {
  padding-top: 125px;
}

._no-webp .loaders__content {
  background: url("../img/fon_loaders.png") center center/cover no-repeat; }

.loaders__content {
  height: 100%;
  padding-top: 35px;
  padding-bottom: 35px;
}

.loaders-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.loaders__item_one {
  width: 620px;
  padding-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.loaders__item_two {
  width: 380px;
  padding-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.loaders__item_three {
  width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.loaders__item-title {
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.02em;
  color: #131234;
  padding-bottom: 10px;
}

.loaders__item-title_two {
  padding-bottom: 20px;
}

.loaders__item_data {
  font-family: "Lato";
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: 0.02em;
  color: #FF2C2C;
}

.loaders__item_text {
  padding-bottom: 15px;
}

.loaders__item_text-icon {
  padding-left: 30px;
  background: url("../img/icon/icon_ok.svg") 0 0px/24px 24px no-repeat;
}

.order {
  padding-top: 125px;
}

.order__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 120px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 28px;
  padding-left: 28px;
}

.order__block_middle {
  border-left: 1px solid #ff02029c;
  border-right: 1px solid #ff02029c;
}

.order__data {
  padding-top: 20px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}

.order_button {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reviews {
  padding-top: 125px;
}

.reviews__wrapper {
  position: relative;
}

.reviews__design-element {
  position: absolute;
  z-index: 1;
  top: 50px;
  left: -80px;
}

.reviews__design-element img {
  max-width: 100%;
}

.reviews__design-element_two {
  position: absolute;
  z-index: 1;
  bottom: 150px;
  right: -20px;
}

.reviews__design-element_two img {
  max-width: 100%;
}

.reviews__content {
  padding-bottom: 70px;
}

.reviews__description {
  max-width: 630px;
}

.reviews__button {
  margin-top: 50px;
  display: block;
}

.reviews__column {
  -webkit-box-shadow: -1px 0px 20px rgba(114, 114, 114, 0.05), 4px 4px 10px rgba(114, 114, 114, 0.13);
          box-shadow: -1px 0px 20px rgba(114, 114, 114, 0.05), 4px 4px 10px rgba(114, 114, 114, 0.13);
}

.reviews__item {
  background-color: #fff;
  -webkit-box-shadow: -1px 0px 20px rgba(114, 114, 114, 0.05), 4px 4px 10px rgba(114, 114, 114, 0.13);
          box-shadow: -1px 0px 20px rgba(114, 114, 114, 0.05), 4px 4px 10px rgba(114, 114, 114, 0.13);
  position: relative;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 390px;
  padding: 28px;
}

.reviews__item_title {
  padding-top: 30px;
  padding-left: 85px;
  padding-bottom: 30px;
  margin-bottom: 55px;
}

._no-webp .reviews__item_title_one {
  background: url("../img/reviews1.png") left top/72px 72px no-repeat; }

._no-webp .reviews__item_title_two {
  background: url("../img/reviews2.png") left top/72px 72px no-repeat; }

._no-webp .reviews__item_title_three {
  background: url("../img/reviews3.png") left top/72px 72px no-repeat; }

.reviews__item::before {
  content: '';
  position: absolute;
  width: 21px;
  height: 16px;
  left: 28px;
  top: 125px;
  background: url("../img/icon/icon_scoba.svg") left top/contain no-repeat;
}

._no-webp .contacts {
  background: url("../img/fon_contacts.png") left bottom/auto no-repeat; }

.contacts {
  height: 1054px;
  padding-top: 125px;
}

.contacts__wrapper {
  position: relative;
}

.contacts__design-element {
  position: absolute;
  top: 0px;
  left: 5%;
}

.contacts__design-element img {
  max-width: 100%;
}

.contacts__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.contacts__item_start {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.contacts__button {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts__button-container {
  width: 48px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts__button-container_middle {
  margin: 0px 10px;
}

.contacts__button_telegram {
  width: 24px;
  height: 24px;
  background: url("../img/icon/icon_telegram_red.svg") center center/contain no-repeat;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.contacts__button_viber {
  width: 24px;
  height: 24px;
  background: url("../img/icon/icon_viber_red.svg") center center/contain no-repeat;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.contacts__button_instagram {
  width: 24px;
  height: 24px;
  background: url("../img/icon/icon_instagram_red.svg") center center/contain no-repeat;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.footer {
  padding-top: 45px;
  padding-bottom: 45px;
  -webkit-box-shadow: 0px -2px 4px rgba(168, 168, 168, 0.25);
          box-shadow: 0px -2px 4px rgba(168, 168, 168, 0.25);
}

.footer__logo {
  padding-left: 15px;
}

.footer__title {
  font-family: "Lato";
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: #222222;
  padding-bottom: 20px;
}

.footer__item {
  min-height: 230px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__item_one {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__item_phone-footer {
  padding-left: 35px;
  background: url("../img/icon/icon_phone-red.svg") left no-repeat;
}

.footer__item_mail-footer {
  padding-left: 35px;
  background: url("../img/icon/icon_mail-red.svg") left no-repeat;
}

.footer__menu-item {
  padding-bottom: 8px;
}

.footer__menu-item:last-child {
  padding-bottom: 0px;
}

.footer__buttom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__buttom-container {
  width: 48px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__buttom-container_middle {
  margin: 0px 10px;
}

.footer__buttom_telegram {
  width: 24px;
  height: 24px;
  background: url("../img/icon/icon_telegram_red.svg") center center/contain no-repeat;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.footer__buttom_viber {
  width: 24px;
  height: 24px;
  background: url("../img/icon/icon_viber_red.svg") center center/contain no-repeat;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.footer__buttom_instagram {
  width: 24px;
  height: 24px;
  background: url("../img/icon/icon_instagram_red.svg") center center/contain no-repeat;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.form__order {
  max-width: 900px;
  margin: 0 auto;
}

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 45%;
          flex: 0 1 45%;
  margin-right: 15px;
  margin-left: 15px;
}

.form__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form__item_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form__item_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form__item_textarea {
  margin-left: 15px;
  margin-right: 15px;
}

.form__item_textarea_popup {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}

.form__input {
  margin-top: 8px;
  margin-bottom: 10px;
  padding: 12px;
  width: 445px;
  height: 48px;
  border: 1px solid rgba(19, 18, 52, 0.2);
  border-radius: 10px;
  font-family: Lato;
  font-size: 18px;
  line-height: 0px;
  color: #808080;
}

.form__input_order {
  width: 100%;
}

.form__input_popup {
  width: 100%;
}

.form__input_textarea {
  width: 100%;
  min-height: 100px;
  resize: vertical;
}

.form__input-date {
  margin-top: 8px;
  margin-bottom: 10px;
  font-family: "Lato";
  padding: 0px;
  height: 48px;
  width: 275px;
  border: 1px solid rgba(19, 18, 52, 0.2);
  border-radius: 10px;
  font-size: 18px;
  color: #808080;
  padding: 14px;
}

.form__input-date_order {
  margin-right: 20px;
}

.form__select {
  margin-top: 8px;
  margin-bottom: 10px;
  padding: 12px;
  width: 445px;
  height: 48px;
  border: 1px solid rgba(19, 18, 52, 0.2);
  border-radius: 10px;
  font-family: "Lato";
  font-size: 18px;
  line-height: 0px;
  color: #808080;
}

.form__select_order {
  width: 100%;
}

.form__select_loaders {
  width: 100px;
  padding-left: 40px;
}

.form__button {
  margin-top: 40px;
  width: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 48px;
  background: #FF2C2C;
  border-radius: 10px;
  font-family: "Lato";
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.form__button:hover {
  background: #EB0606;
}

.form__button_order {
  margin: 40px auto;
  width: 425px;
}

.checkbox {
  padding-top: 10px;
}

.checkbox__item {
  padding-bottom: 8px;
}

.checkbox__label {
  padding-left: 7px;
}

.order_page {
  padding-top: 65px;
}

.services-slider {
  padding: 0px 0px 50px 0px;
}

.services__button-container .swiper-button-prev::after,
.services__button-container .swiper-button-next::after {
  display: none;
}

.services__button-container .swiper-prev,
.services__button-container .swiper-next {
  cursor: pointer;
}

.services-slider .swiper-pagination {
  bottom: 0;
}

.services-slider .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  line-height: 12px;
  font-size: 12px;
  background-color: #131234;
}

.car-park-slider {
  padding: 0px 0 50px 0;
}

.car-park-slider .swiper-button-prev::after,
.car-park-slider .swiper-button-next::after {
  color: #C4C4D0;
  font-size: 30px;
}

.car-park-slider .swiper-pagination {
  bottom: 0;
}

.car-park-slider .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  line-height: 12px;
  font-size: 12px;
  background-color: #131234;
}

.reviews-slider {
  padding: 15px 20px 50px 20px;
}

.reviews-slider .swiper-button-prev::after,
.reviews-slider .swiper-button-next::after {
  color: #C4C4D0;
  font-size: 30px;
}

.reviews-slider .swiper-pagination {
  bottom: 0;
}

.reviews-slider .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  line-height: 12px;
  font-size: 12px;
  background-color: #131234;
}

.popup {
  position: fixed;
  z-index: 101;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.popup:target {
  opacity: 1;
  visibility: visible;
}

.popup__area {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.popup__body {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px;
}

.popup__content {
  position: relative;
  background-color: #fff;
  width: 685px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 120px;
  padding-right: 120px;
}

.popup__close {
  position: absolute;
  right: 20px;
  top: 20px;
}

@media (max-width: 1440px) {
  ._no-webp .header__main {
    background: url("../img/fon_main.jpg") center center/cover no-repeat; }

  .header__title {
    font-size: calc(28px + 16 * ((100vw - 320px) / 1600));
    line-height: calc(34px + 20 * ((100vw - 320px) / 1600));
  }

  .header__text {
    font-size: calc(16px + 2 * ((100vw - 320px) / 1600));
    line-height: calc(25px + 3 * ((100vw - 320px) / 1600));
    padding-bottom: calc(36px + 12 * ((100vw - 320px) / 1600));
  }

  .menu__link {
    width: calc(220px + 130 * ((100vw - 320px) / 1600));
  }

  .title__callback {
    font-size: calc(24px + 4 * ((100vw - 320px) / 1600));
    line-height: calc(33px + 5 * ((100vw - 320px) / 1600));
  }

  .title {
    font-size: calc(24px + 8 * ((100vw - 320px) / 1600));
    line-height: calc(33px + 11 * ((100vw - 320px) / 1600));
    padding-bottom: calc(30px + 40 * ((100vw - 320px) / 1600));
  }

  .title_two {
    padding-bottom: calc(10px + 5 * ((100vw - 320px) / 1600));
  }

  .title_three {
    padding-bottom: calc(10px + 5 * ((100vw - 320px) / 1600));
  }

  .title_popup {
    padding-bottom: calc(20px + 10 * ((100vw - 320px) / 1600));
  }

  .subtitle {
    padding-bottom: calc(40px + 30 * ((100vw - 320px) / 1600));
  }

  .description {
    font-size: calc(18px + 2 * ((100vw - 320px) / 1600));
    line-height: calc(25px + 2 * ((100vw - 320px) / 1600));
    padding-top: calc(12px + 3 * ((100vw - 320px) / 1600));
  }

  .services {
    padding-top: calc(80px + 45 * ((100vw - 320px) / 1600));
  }

  .services__item {
    padding-top: calc(5px + 5 * ((100vw - 320px) / 1600));
    padding-left: calc(5px + 5 * ((100vw - 320px) / 1600));
    padding-bottom: calc(5px + 5 * ((100vw - 320px) / 1600));
    padding-right: calc(5px + 5 * ((100vw - 320px) / 1600));
  }

  .about {
    padding-top: calc(80px + 45 * ((100vw - 320px) / 1600));
  }

  .about__item_one {
    margin-bottom: calc(15px + 15 * ((100vw - 320px) / 1600));
  }

  .about__item-title {
    margin-bottom: calc(10px + 5 * ((100vw - 320px) / 1600));
  }

  .results {
    margin-top: calc(30px + 30 * ((100vw - 320px) / 1600));
    padding-top: calc(50px + 30 * ((100vw - 320px) / 1600));
  }

  .results__column-title {
    font-size: calc(28px + 4 * ((100vw - 320px) / 1600));
    line-height: calc(34px + 4 * ((100vw - 320px) / 1600));
    padding-bottom: calc(8px + 4 * ((100vw - 320px) / 1600));
  }

  .results__column-text {
    font-size: calc(18px + 2 * ((100vw - 320px) / 1600));
    line-height: calc(22px + 2 * ((100vw - 320px) / 1600));
  }

  .advantages {
    padding-top: calc(80px + 45 * ((100vw - 320px) / 1600));
  }

  .advantages__column-item {
    margin-bottom: calc(30px + 20 * ((100vw - 320px) / 1600));
  }

  .advantages__column-title {
    margin-bottom: calc(10px + 5 * ((100vw - 320px) / 1600));
  }

  .we-work {
    padding-top: calc(80px + 45 * ((100vw - 320px) / 1600));
  }

  .callback {
    margin-top: calc(30px + 30 * ((100vw - 320px) / 1600));
    padding-top: calc(80px + 30 * ((100vw - 320px) / 1600));
  }

  .callback-two {
    padding-top: calc(60px + 30 * ((100vw - 320px) / 1600));
  }

  .car-park {
    padding-top: calc(80px + 45 * ((100vw - 320px) / 1600));
  }

  .car-park__item {
    padding-top: calc(10px + 10 * ((100vw - 320px) / 1600));
    padding-bottom: calc(10px + 10 * ((100vw - 320px) / 1600));
    padding-left: calc(7px + 3 * ((100vw - 320px) / 1600));
    padding-bottom: calc(7px + 3 * ((100vw - 320px) / 1600));
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
  }

  .car-park__price {
    padding-top: calc(15px + 10 * ((100vw - 320px) / 1600));
    padding-bottom: calc(20px + 10 * ((100vw - 320px) / 1600));
  }

  .car-park__deskription {
    padding-top: calc(5px + 5 * ((100vw - 320px) / 1600));
    padding-bottom: calc(20px + 10 * ((100vw - 320px) / 1600));
  }

  .loaders {
    padding-top: calc(80px + 45 * ((100vw - 320px) / 1600));
  }

  .loaders__content {
    padding-top: calc(15px + 20 * ((100vw - 320px) / 1600));
    padding-bottom: calc(15px + 20 * ((100vw - 320px) / 1600));
  }

  .loaders__item_one {
    padding-bottom: calc(25px + 15 * ((100vw - 320px) / 1600));
  }

  .loaders__item_two {
    padding-bottom: calc(25px + 15 * ((100vw - 320px) / 1600));
  }

  .loaders__item-title {
    font-size: calc(20px + 4 * ((100vw - 320px) / 1600));
    line-height: calc(24px + 5 * ((100vw - 320px) / 1600));
  }

  .loaders__item-title_two {
    padding-bottom: calc(10px + 10 * ((100vw - 320px) / 1600));
  }

  .loaders__item_data {
    font-size: calc(24px + 4 * ((100vw - 320px) / 1600));
    line-height: calc(29px + 5 * ((100vw - 320px) / 1600));
  }

  .loaders__item_text {
    padding-bottom: calc(10px + 5 * ((100vw - 320px) / 1600));
  }

  .order {
    padding-top: calc(80px + 45 * ((100vw - 320px) / 1600));
  }

  .reviews {
    padding-top: calc(80px + 45 * ((100vw - 320px) / 1600));
  }

  .reviews__content {
    padding-bottom: calc(30px + 40 * ((100vw - 320px) / 1600));
  }

  .reviews__button {
    margin-top: calc(30px + 20 * ((100vw - 320px) / 1600));
  }

  .reviews__item {
    padding-top: calc(10px + 18 * ((100vw - 320px) / 1600));
    padding-left: calc(10px + 18 * ((100vw - 320px) / 1600));
    padding-bottom: calc(10px + 18 * ((100vw - 320px) / 1600));
    padding-right: calc(10px + 18 * ((100vw - 320px) / 1600));
  }

  .contacts {
    padding-top: calc(80px + 45 * ((100vw - 320px) / 1600));
  }

  .contacts__design-element {
    left: 0px;
  }

  .footer {
    padding-top: calc(30px + 15 * ((100vw - 320px) / 1600));
    padding-bottom: calc(30px + 15 * ((100vw - 320px) / 1600));
  }

  .order_page {
    padding-top: calc(40px + 25 * ((100vw - 320px) / 1600));
  }

  .popup__content {
    padding-top: calc(30px + 10 * ((100vw - 320px) / 1600));
    padding-bottom: calc(30px + 10 * ((100vw - 320px) / 1600));
    padding-left: calc(15px + 105 * ((100vw - 320px) / 1600));
    padding-right: calc(15px + 105 * ((100vw - 320px) / 1600));
  }
}

@media (max-width: 1200px) {
  ._column_car-park {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 24.999%;
            flex: 1 1 24.999%;
    max-width: 100%;
  }

  .services__button-container {
    display: none;
  }

  .reviews__design-element_two {
    right: 0px;
    bottom: 200px;
  }

  .contacts__design-element {
    display: none;
  }
}

@media (max-width: 1190px) {
  ._container {
    padding: 0px 40px;
  }

  .contacts__item {
    padding-top: calc(40px + 15 * ((100vw - 320px) / 1600));
  }
}

@media (max-width: 1100px) {
  ._row__order {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  ._row__reviews {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  ._row__services {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  ._column__order {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  ._column__order__bottom {
    padding-top: 45px;
    padding-top: calc(20px + 25 * ((100vw - 320px) / 1600));
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  ._column__reviews {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 70%;
            flex: 0 1 70%;
  }

  ._column__services {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 70%;
            flex: 0 1 70%;
  }

  .services__column {
    margin-bottom: 30px;
  }

  .services__item {
    height: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .order_text {
    display: inline;
    text-align: center;
  }

  .order_button {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: calc(30px + 20 * ((100vw - 320px) / 1600));
  }

  .reviews__content {
    padding-bottom: calc(0px + 40 * ((100vw - 320px) / 1600));
  }

  .reviews__description {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .reviews__button {
    margin-left: auto;
    margin-right: auto;
  }

  .reviews__column {
    margin-bottom: 30px;
  }

  .reviews__item {
    height: 100%;
  }

  .reviews__item::before {
    top: 100px;
  }
}

@media (max-width: 1080px) {
  .form__input-date_order {
    width: 250px;
  }
}

@media (max-width: 1024px) {
  ._row-start {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  ._column_advantages {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  ._column_we-work {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .advantages__column_one {
    margin-right: 0px;
  }

  .advantages__column_two {
    margin-left: 0px;
  }

  .we-work__column-text {
    min-height: 52px;
  }
}

@media (max-width: 1000px) {
  .form__input-date_order {
    width: 210px;
  }
}

@media (max-width: 991.98px) {
  .menu__phone {
    width: calc(180px + 30 * ((100vw - 320px) / 1600));
  }

  .menu__phone-button {
    display: none;
  }

  .menu__phone-icon {
    display: block;
  }

  ._row__car-park {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  ._column_car-park {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 40%;
            flex: 0 1 40%;
  }

  .car-park__deskription {
    display: block;
  }

  .car-park__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 900px) {
  ._no-webp .contacts {
    background: url("../img/fon_contacts_tablet.png") left bottom/auto no-repeat; }

  .form__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .form__column {
    width: 450px;
  }

  .form__item_textarea {
    width: 450px;
    margin: 0 auto;
  }

  .form__item_textarea_popup {
    width: 100%;
    margin: 0 auto;
  }
}

@media (max-width: 880px) {
  .form__input-date_order {
    width: 185px;
  }
}

@media (max-width: 767.98px) {
  ._container {
    padding-left: calc(15px + 25 * ((100vw - 320px) / 1600));
    padding-right: calc(15px + 25 * ((100vw - 320px) / 1600));
  }

  ._no-webp .header__main {
    background: url("../img/fon_main_tablet.png") center center/cover no-repeat; }

  .header__head_order {
    background-color: #fff;
  }

  .header__head._active {
    position: fixed;
    width: 100%;
    left: 0px;
    top: 0px;
    z-index: 61;
    background-color: #fff;
    padding-left: calc(15px + 25 * ((100vw - 320px) / 1600));
    padding-right: calc(15px + 25 * ((100vw - 320px) / 1600));
    border-bottom: 2px solid rgba(168, 168, 168, 0.25);
  }

  .header__title {
    font-weight: 600;
  }

  .menu__link {
    padding-top: 15px;
    display: block;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    position: fixed;
    top: -300%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 50;
  }

  .menu__item {
    height: 48px;
    display: block;
    text-align: left;
    padding: 12px 0px;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0.005em;
    color: #222222;
    margin-left: calc(30px + 220 * ((100vw - 320px) / 1600));
  }

  .menu__item_phone {
    padding-left: 35px;
    background: url("../img/icon/icon_phone-red.svg") left no-repeat;
  }

  .menu__item_mail {
    padding-left: 35px;
    background: url("../img/icon/icon_mail-red.svg") left no-repeat;
  }

  .menu__item_line {
    padding: 0px;
    height: 15px;
    margin-left: calc(30px + 220 * ((100vw - 320px) / 1600));
    margin-right: calc(30px + 220 * ((100vw - 320px) / 1600));
  }

  .menu__item_mobile {
    display: block;
  }

  .menu__item_dextop {
    display: none;
  }

  .menu__phone._active {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  .menu__phone {
    width: calc(220px + 50 * ((100vw - 320px) / 1600));
  }

  .menu__phone-icon._active {
    display: none;
  }

  .menu__buttom_reviews {
    padding: 10px 0px;
  }

  .burger {
    display: block;
  }

  .subtitle {
    max-width: 570px;
    margin: 0 auto;
  }

  ._row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  ._row__contacts {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }

  ._column__reviews {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 90%;
            flex: 0 1 90%;
  }

  ._column__services {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 90%;
            flex: 0 1 90%;
  }

  ._column__contacts {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
  }

  ._column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .about__design-element_two {
    display: none;
  }

  ._no-webp .about__content {
    background: url("../img/fon_about_tablet.png") center center/cover no-repeat; }

  .about__item-text {
    max-width: 480px;
  }

  .results {
    padding-bottom: calc(20px + 20 * ((100vw - 320px) / 1600));
    height: 100%;
  }

  .results__column {
    margin-bottom: calc(10px + 20 * ((100vw - 320px) / 1600));
    height: 100%;
  }

  .we-work {
    padding-bottom: calc(20px + 20 * ((100vw - 320px) / 1600));
    height: 100%;
  }

  .we-work__column {
    margin-bottom: calc(10px + 20 * ((100vw - 320px) / 1600));
    height: 100%;
  }

  ._no-webp .loaders__content {
    background: url("../img/fon_loaders_tablet.png") center center/cover no-repeat; }

  .loaders__item-block {
    padding-bottom: calc(20px + 10 * ((100vw - 320px) / 1600));
  }

  .loaders__item_one {
    width: 100%;
    display: block;
    padding-bottom: 0px;
  }

  .loaders__item_three {
    width: 100%;
    display: block;
  }

  .footer__item {
    min-height: 220px;
  }

  .footer__item {
    min-height: 220px;
  }

  .footer__menu-item {
    padding-bottom: 5px;
  }
}

@media (max-width: 690px) {
  ._row__contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  ._column__contacts {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 80%;
            flex: 1 1 80%;
  }

  ._no-webp .contacts {
    background: url("../img/nofon.png") left bottom/auto no-repeat; }

  .contacts__button_mobile {
    display: none;
  }
}

@media (max-width: 650px) {
  ._column__footer_mobile {
    display: none;
  }

  .footer__title {
    display: none;
  }
}

@media (max-width: 600px) {
  ._row__car-park {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  ._row__order {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  ._row__footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  ._column_car-park {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 70%;
            flex: 0 1 70%;
  }

  ._column__order {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  ._column__footer_mobile-two {
    display: block;
  }

  ._no-webp .about__content {
    background: url("../img/fon_about.png") center center/cover no-repeat; }

  ._no-webp .loaders__content {
    background: url("../img/fon_loaders.png") center center/cover no-repeat; }

  .order__block {
    padding-top: 28px;
    padding-bottom: 28px;
  }

  .order__block_middle {
    border-left: none;
    border-right: none;
    border-top: 1px solid #ff02029c;
    border-bottom: 1px solid #ff02029c;
  }

  .order__item {
    text-align: center;
  }

  .reviews__design-element_two {
    right: 0px;
    bottom: 230px;
  }

  .footer__logo {
    text-align: center;
    padding-left: 0px;
  }

  .footer__item {
    min-height: 100%;
    padding-bottom: 20px;
  }

  .footer__item_contact {
    min-height: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #E7E7EB;
  }

  .footer__item-end {
    padding-bottom: 0px;
  }

  .footer__menu-item {
    text-align: center;
  }

  .footer__buttom_mobile {
    display: none;
  }
}

@media (max-width: 500px) {
  .form__column {
    width: 350px;
  }

  .form__item_textarea {
    width: 350px;
  }

  .form__item_textarea_popup {
    width: 100%;
  }
}

@media (max-width: 479.98px) {
  .menu__phone {
    width: calc(70px + 30 * ((100vw - 320px) / 1600));
  }

  .menu__phone-contact {
    display: none;
  }

  .title_two {
    padding-bottom: calc(40px + 30 * ((100vw - 320px) / 1600));
  }

  .subtitle {
    display: none;
  }

  .subtitle_two {
    display: block;
  }

  ._column_car-park {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 90%;
            flex: 0 1 90%;
  }

  ._column__reviews {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  ._column__services {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  ._column__contacts {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .reviews__design-element_two {
    display: none;
  }

  .contacts__item {
    width: 100%;
  }

  .form {
    width: 100%;
  }

  .form__input {
    width: 100%;
  }

  .form__input-date {
    width: 185px;
  }

  .form__select {
    width: 100%;
  }

  .form__select_loaders {
    width: 65px;
    padding-left: 20px;
  }

  .form__button_order {
    width: 100%;
  }
}

@media (max-width: 425.98px) {
  ._no-webp .header__main {
    background: url("../img/fon_main_mobile.png") center center/cover no-repeat; }

  .loaders__item_two {
    width: 100%;
  }
}

@media (max-width: 400px) {
  .form__column {
    width: 280px;
  }

  .form__item_textarea {
    width: 280px;
  }

  .form__item_textarea_popup {
    width: 100%;
  }
}

._webp .header__main { background: url(../img/fon_main_hd.webp) center center/cover no-repeat; }

._webp .about__content { background: url(../img/fon_about.webp) center center/cover no-repeat; }

._webp .results { background: url(../img/fon_result.webp) center center/cover no-repeat; }

._webp .callback { background: url(../img/fon_callback.webp) center center/cover no-repeat; }

._webp .callback-two { background: url(../img/fon_result.webp) center center/cover no-repeat; }

._webp .loaders__content { background: url(../img/fon_loaders.webp) center center/cover no-repeat; }

._webp .reviews__item_title_one { background: url(../img/reviews1.webp) left top/72px 72px no-repeat; }

._webp .reviews__item_title_two { background: url(../img/reviews2.webp) left top/72px 72px no-repeat; }

._webp .reviews__item_title_three { background: url(../img/reviews3.webp) left top/72px 72px no-repeat; }

._webp .contacts { background: url(../img/fon_contacts.webp) left bottom/auto no-repeat; }

@media (max-width: 1440px) {

  ._webp .header__main { background: url(../img/fon_main.webp) center center/cover no-repeat; }
}

@media (max-width: 900px) {

  ._webp .contacts { background: url(../img/fon_contacts_tablet.webp) left bottom/auto no-repeat; }
}

@media (max-width: 767.98px) {

  ._webp .header__main { background: url(../img/fon_main_tablet.webp) center center/cover no-repeat; }
}

@media (max-width: 767.98px) {

  ._webp .about__content { background: url(../img/fon_about_tablet.webp) center center/cover no-repeat; }
}

@media (max-width: 767.98px) {

  ._webp .loaders__content { background: url(../img/fon_loaders_tablet.webp) center center/cover no-repeat; }
}

@media (max-width: 690px) {

  ._webp .contacts { background: url(../img/nofon.webp) left bottom/auto no-repeat; }
}

@media (max-width: 600px) {

  ._webp .about__content { background: url(../img/fon_about.webp) center center/cover no-repeat; }
}

@media (max-width: 600px) {

  ._webp .loaders__content { background: url(../img/fon_loaders.webp) center center/cover no-repeat; }
}

@media (max-width: 425.98px) {

  ._webp .header__main { background: url(../img/fon_main_mobile.webp) center center/cover no-repeat; }
}