* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Noto Sans", sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Noto Sans", sans-serif;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #363636;
  font-size: 16px;
  line-height: 19px;
  background-color: #fff;
  font-family: "Noto Sans", sans-serif;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1200px;
  padding: 0px 15px;
  margin: 0 auto;
}

.head {
  width: 100%;
  background-color: #E4F1FD;
  position: fixed;
  left: 0;
  top: 0;
}

.head__wrapper {
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.head__address {
  padding: 0px 20px 0px 20px;
  color: #363636;
}

.head__link {
  text-decoration: underline;
  color: #5DACDA;
}

.body {
  padding-top: 30px;
}

.body__wrapper {
  height: 175px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body__logo_menu {
  display: none;
}

.body__logo img {
  max-width: 100%;
}

.body__logo_mobile {
  display: none;
}

.bottom {
  border-top: 1px solid #5DACDA;
  border-bottom: 1px solid #5DACDA;
}

.socials__wrapper_menu {
  display: none;
}

.socials__wrapper_burger {
  display: none;
}

.socials__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 15px;
}

.socials__facebook {
  margin-right: 15px;
}

.socials__mail {
  margin-right: 15px;
}

.contacts__adress {
  margin-bottom: 20px;
  padding-left: 35px;
  background: url("../img/icon/footer/mapmarker_icon.svg") 0 0 no-repeat;
}

.contacts__phone {
  margin-bottom: 15px;
  padding-left: 35px;
  background: url("../img/icon/phone_icon.svg") left no-repeat;
}

.contacts__phone-solid {
  margin-bottom: 20px;
  background: url("../img/icon/footer/phone_icon.svg") left no-repeat;
}

.contacts__phone-solid_head {
  padding-left: 20px;
  background: url("../img/icon/footer/phone_icon.svg") left/15px 15px no-repeat;
  display: none;
}

.contacts__mail {
  padding-left: 35px;
  background: url("../img/icon/footer/mail_icon.svg") left no-repeat;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 49px;
  text-align: center;
  color: #504F56;
}

.title_red {
  font-size: 30px;
  line-height: 35px;
  color: #EC6277;
  text-align: left;
}

.title-error {
  font-weight: 700;
  font-size: 306px;
  line-height: 417px;
  color: #5DACDA;
  text-align: center;
}

.text {
  line-height: 22px;
  color: #363636;
}

.text_up {
  text-transform: uppercase;
  font-weight: 600;
}

.text-footer {
  line-height: 25px;
}

.text-bold {
  font-weight: 700;
}

.text-red {
  font-size: 18px;
  color: #EC6277;
  font-weight: 700;
}

.button {
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  width: 225px;
  display: inline-block;
  padding: 13px 0;
  color: #F8F8F8;
  border-radius: 60px 10px;
  border: 3px solid  #EC6277;
  background-color: #EC6277;
}

.button:hover {
  background-color: #ec627700;
  color: #EC6277;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.button__menu {
  display: none;
}

.button-plane {
  padding: 7px 212px 7px 0px;
  background: url("../img/main/plane.svg") right no-repeat;
}

.button-revers a {
  background-color: #ec627700;
  color: #EC6277;
}

.button-revers a:hover {
  color: #F8F8F8;
  border-radius: 60px 10px;
  border: 3px solid  #EC6277;
  background-color: #EC6277;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.button-blue a {
  background-color: #ec627700;
  color: #7CC1EE;
  border: 2px solid   #7CC1EE;
}

.button-blue a:hover {
  color: #F8F8F8;
  border-radius: 60px 10px;
  border: 2px solid #7CC1EE;
  background-color: #7CC1EE;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.navbar__body {
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 45px;
  align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar__burger {
  display: none;
}

.navbar__burger span {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: absolute;
  background-color: #297FCA;
  left: 0;
  width: 100%;
  height: 2px;
  top: 9px;
}

.navbar__burger span:first-child {
  top: 0px;
}

.navbar__burger span:last-child {
  top: auto;
  bottom: 0px;
}

.navbar__burger._active span {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.navbar__burger._active span:first-child {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: calc(50% - 1px);
}

.navbar__burger._active span:last-child {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  bottom: calc(50% - 1px);
}

.navbar__menu {
  width: 100%;
}

.navbar__menu._active {
  top: 0;
}

.navbar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  z-index: 3;
}

.navbar__link {
  text-transform: uppercase;
  position: relative;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: #363636;
}

.navbar__link:hover {
  color: #297FCA;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

._fixed {
  background-color: #fff;
  position: fixed;
  left: 0;
  top: 30px;
  z-index: 50;
  width: 100%;
}

.footer {
  min-height: 680px;
  background: url("../img/fon/fon.svg") center center/cover no-repeat;
  padding-top: 50px;
}

.footer__wrapper {
  padding-bottom: 30px;
}

.footer__title {
  padding-bottom: 30px;
  line-height: 33px;
  font-weight: 600;
  color: #504F56;
}

.footer__menu {
  height: 215px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.error {
  position: relative;
  padding: 70px 0px 90px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.error__title {
  padding-bottom: 30px;
}

.error__description {
  text-align: center;
}

.error__fon-cloud {
  position: absolute;
  top: 290px;
  left: 0px;
}

.error__fon-cloudflag {
  position: absolute;
  top: 160px;
  right: 38px;
}

* picture {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 600px) {
  .footer__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 767px) {
  .head__address {
    font-size: calc(10px + 6 * (100vw / 1920));
  }

  .contacts__phone-solid_head {
    font-size: calc(14px + 0 * (100vw / 1920));
  }
}

@media (max-width: 1440px) {
  .footer {
    min-height: 510px;
  }
}

@media (max-width: 1439px) and (max-width: 767px) {
  body {
    font-size: calc(14px + 3.4 * ((100vw - 375px) / 1920));
  }

  .button {
    font-size: calc(16px + 3.4 * ((100vw - 375px) / 1920));
  }

  .footer__title {
    font-size: calc(18px + 13.6 * ((100vw - 375px) / 1920));
  }
}

@media (max-width: 1200px) {
  .button {
    line-height: 20px;
    width: 200px;
    padding: 10px 0;
  }
}

@media (max-width: 1000px) {
  .body__wrapper {
    display: none;
  }

  .body__logo_menu {
    display: block;
    padding: 10px 160px 10px 0px;
  }

  .bottom__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .socials__wrapper_menu {
    display: block;
  }

  .button__menu {
    display: block;
  }

  .navbar__body {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .navbar__body {
    height: 50px;
  }

  .navbar__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 130px;
            flex: 0 0 130px;
  }

  .navbar__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 51;
  }

  .navbar__menu {
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    padding: 50px 0px 0px 0px;
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
  }

  .navbar__list li {
    margin: 0px 0px 0px 0px;
    text-align: center;
    padding: 10px;
    margin: 0px 50px;
    border-bottom: 1px solid #5DACDA;
  }

  .navbar__list li:last-child {
    border: none;
  }

  .navbar__list {
    display: block;
  }

  .navbar__link {
    color: #000;
  }
}

@media (max-width: 767px) {
  .head__address {
    font-size: calc(10px + 10.2 * ((100vw - 375px) / 1920));
  }

  .contacts__phone-solid_head {
    font-size: calc(14px + 0 * ((100vw - 375px) / 1920));
  }
}

@media (max-width: 767.98px) {
  .head__link {
    display: none;
  }

  .body__logo_menu {
    padding: 10px 100px 10px 0px;
  }

  .socials__hech {
    display: none;
  }

  .footer__column_title {
    display: none;
  }

  .footer__wrapper {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (max-width: 650px) {
  .body__logo_menu {
    padding: 10px 50px 10px 0px;
  }
}

@media (max-width: 600px) {
  .head__wrapper {
    height: 43px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .head__img {
    display: none;
  }

  .body {
    padding-top: 43px;
  }

  .body__logo_menu {
    display: none;
  }

  .body__logo_mobile {
    display: block;
    padding: 10px 0px 10px 0px;
  }

  .socials__wrapper_menu {
    display: none;
  }

  .socials__wrapper_burger {
    display: block;
  }

  .socials__item {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .contacts__adress {
    margin-bottom: 10px;
  }

  .contacts__phone-solid {
    margin-bottom: 10px;
  }

  .contacts__phone-solid_head {
    line-height: 14px;
    display: block;
    margin-bottom: 5px;
  }

  .text-footer {
    line-height: 22px;
  }

  .footer {
    padding-top: 15px;
  }

  .footer__column-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .footer__title {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (max-width: 479.98px) {
  .head__address {
    padding: 0px;
  }
}

@media (max-width: 424.98px) {
  ._container {
    padding: 0px 10px;
  }

  .button {
    line-height: 16px;
    width: 175px;
    padding: 8px 0;
    border: 2px solid  #EC6277;
  }
}

@media (max-width: 1439px) and (min-width: 767px) {
  body {
    font-size: calc(14px + 2 * (100vw / 1920));
  }

  .button {
    font-size: calc(16px + 2 * (100vw / 1920));
  }

  .footer__title {
    font-size: calc(18px + 8 * (100vw / 1920));
  }
}