* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Noto Sans", sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Noto Sans", sans-serif;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #000;
  font-size: 20px;
  line-height: 150%;
  background-color: white;
  font-family: "Noto Sans", sans-serif;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1170px;
  margin: 0 auto;
}

.header__top-wrapper {
  width: 100%;
  background-color: #E4F1FD;
}

.header__middle-wrapper {
  border-bottom: 1px solid #5DACDA;
}

.header__bottom-wrapper {
  border-bottom: 1px solid #5DACDA;
}

.header__top {
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__address {
  padding: 0px 20px 0px 20px;
  font-style: normal;
  font-size: 15px;
  line-height: 19px;
  color: #363636;
}

.header__link {
  font-style: normal;
  font-size: 15px;
  line-height: 19px;
  text-decoration: underline;
  color: #5DACDA;
}

.header__middle {
  height: 175px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.socials__item {
  padding-bottom: 20px;
}

.socials__facebook {
  margin-right: 15px;
}

.socials__mail {
  margin-right: 15px;
}

.socials__vkontakte {
  margin-right: 15px;
}

.contacts__adress {
  margin-bottom: 20px;
  padding-left: 35px;
  background: url("../img/footer/mapmarker_icon.svg") 0 0 no-repeat;
}

.contacts__phone {
  margin-bottom: 25px;
  padding-left: 35px;
  background: url("../img/header/phone_icon.svg") left no-repeat;
}

.contacts__phone-footer {
  margin-bottom: 20px;
  background: url("../img/footer/phone_icon.svg") left no-repeat;
}

.contacts__mail {
  padding-left: 35px;
  background: url("../img/footer/mail_icon.svg") left no-repeat;
}

.text {
  font-size: 16px;
  line-height: 22px;
  color: #363636;
}

.text a {
  color: #363636;
}

.text-footer {
  line-height: 25px;
}

.button {
  font-size: 18px;
  line-height: 25px;
}

.button a {
  text-align: center;
  width: 225px;
  display: inline-block;
  padding: 13px 0;
  color: #F8F8F8;
  border-radius: 60px 10px;
  border: 2px solid  #EC6277;
  background-color: #EC6277;
}

.button a:hover {
  background-color: #ec627700;
  color: #EC6277;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.button-plane {
  padding: 7px 212px 7px 0px;
  background: url("../img/main/plane.svg") right no-repeat;
}

.button-revers a {
  background-color: #ec627700;
  color: #EC6277;
}

.button-revers a:hover {
  color: #F8F8F8;
  border-radius: 60px 10px;
  border: 2px solid  #EC6277;
  background-color: #EC6277;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.navbar__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 45px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__burger {
  display: none;
}

.navbar__burger span {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: absolute;
  background-color: #297FCA;
  left: 0;
  width: 100%;
  height: 2px;
  top: 9px;
}

.navbar__burger span:first-child {
  top: 0px;
}

.navbar__burger span:last-child {
  top: auto;
  bottom: 0px;
}

.navbar__burger._active span {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.navbar__burger._active span:first-child {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: calc(50% - 1px);
}

.navbar__burger._active span:last-child {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  bottom: calc(50% - 1px);
}

.navbar__menu {
  width: 100%;
}

.navbar__menu._active {
  top: 0;
}

.navbar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  z-index: 3;
}

.navbar__link {
  text-transform: uppercase;
  position: relative;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: #363636;
}

.navbar__link:hover {
  color: #297FCA;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.main {
  min-height: 960px;
  background: url("../img/main/fon.png") center center/cover no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__wrapper {
  width: 100%;
  height: 285px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.main__title {
  font-size: 48px;
  line-height: 65px;
  font-weight: bold;
  color: #EC6277;
}

.main__subtitle {
  font-size: 24px;
  line-height: 33px;
  font-weight: bold;
  color: #EC6277;
}

.main__description {
  font-size: 18px;
  line-height: 25px;
  color: #5DACDA;
}

.reviews {
  margin-bottom: 115px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reviews__content {
  position: relative;
  padding: 30px;
  width: 955px;
  height: 241px;
  background: rgba(93, 172, 218, 0.15);
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reviews__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 49px;
  text-align: center;
  color: #504F56;
}

.reviews__description {
  text-align: center;
}

.reviews__fon-balloon {
  position: absolute;
  top: 120px;
  left: -40px;
}

.reviews__fon-kite {
  position: absolute;
  top: 50px;
  right: -50px;
}

.footer {
  min-height: 680px;
  background: url("../img/footer/fon.svg") center center/cover no-repeat;
  padding-top: 50px;
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__title {
  padding-bottom: 30px;
  font-size: 24px;
  line-height: 33px;
  font-weight: 600;
  color: #504F56;
}

.footer__menu {
  height: 215px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

@media (max-width: 1440px) {
  .main {
    min-height: 703px;
  }

  .footer {
    min-height: 510px;
  }
}

@media (max-width: 1000px) {
  .navbar__body {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .navbar__body {
    height: 50px;
  }

  .navbar__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 130px;
            flex: 0 0 130px;
  }

  .navbar__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 51;
  }

  .navbar__menu {
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    padding: 80px 0px 0px 0px;
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
  }

  .navbar__list li {
    margin: 0px 0px 0px 0px;
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }

  .navbar__list {
    display: block;
  }

  .navbar__link {
    color: #000;
  }
}