@import url(../../node_modules/swiper/swiper-bundle.css);

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Noto Sans", sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Noto Sans", sans-serif;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #363636;
  font-size: 16px;
  line-height: 19px;
  background-color: #fff;
  font-family: "Noto Sans", sans-serif;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1200px;
  padding: 0px 15px;
  margin: 0 auto;
}

.head {
  width: 100%;
  background-color: #E4F1FD;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
}

.head__wrapper {
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.head__address {
  padding: 0px 20px 0px 20px;
  color: #363636;
}

.head__link {
  text-decoration: underline;
  color: #5DACDA;
}

.body {
  padding-top: 30px;
}

.body__wrapper {
  height: 175px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body__logo_menu {
  display: none;
}

.body__logo img {
  max-width: 100%;
}

.body__logo_mobile {
  display: none;
}

.bottom {
  border-top: 1px solid #5DACDA;
  border-bottom: 1px solid #5DACDA;
}

.socials__wrapper_menu {
  display: none;
}

.socials__wrapper_burger {
  display: none;
}

.socials__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 15px;
}

.socials__facebook {
  margin-right: 15px;
}

.socials__mail {
  margin-right: 15px;
}

.contacts__adress {
  margin-bottom: 20px;
  padding-left: 35px;
  background: url("../img/icon/footer/mapmarker_icon.svg") 0 0 no-repeat;
}

.contacts__phone {
  margin-bottom: 15px;
  padding-left: 35px;
  background: url("../img/icon/phone_icon.svg") left no-repeat;
}

.contacts__phone-solid {
  margin-bottom: 20px;
  background: url("../img/icon/footer/phone_icon.svg") left no-repeat;
}

.contacts__phone-solid_head {
  padding-left: 20px;
  background: url("../img/icon/footer/phone_icon.svg") left/15px 15px no-repeat;
  display: none;
}

.contacts__mail {
  padding-left: 35px;
  background: url("../img/icon/footer/mail_icon.svg") left no-repeat;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 49px;
  text-align: center;
  color: #504F56;
}

.title-main {
  font-weight: 700;
  font-size: 48px;
  line-height: 65px;
  text-align: center;
}

.title-main_blue {
  color: #595FA7;
}

.title_red {
  font-size: 30px;
  line-height: 35px;
  color: #EC6277;
  text-align: left;
}

.title-error {
  font-weight: 700;
  font-size: 280px;
  line-height: 330px;
  color: #5DACDA;
  text-align: center;
}

.description {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #595FA7;
  padding-right: 105px;
  padding-bottom: 10px;
  background: url("../img/about/planer.svg") right bottom no-repeat;
}

.text {
  line-height: 22px;
  color: #363636;
}

.text_up {
  text-transform: uppercase;
  font-weight: 600;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.text_up:hover {
  color: #5DACDA;
}

.text_hover {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.text_hover:hover {
  color: #5DACDA;
}

.text-footer {
  line-height: 25px;
}

.text-bold {
  font-weight: 700;
}

.text-red {
  font-size: 18px;
  color: #EC6277;
  font-weight: 700;
}

.text-blue {
  color: #5DACDA;
}

.button {
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  width: 225px;
  display: inline-block;
  padding: 13px 0;
  color: #F8F8F8;
  border-radius: 60px 10px;
  border: 3px solid  #EC6277;
  background-color: #EC6277;
}

.button:hover {
  background-color: #ec627700;
  color: #EC6277;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.button__menu {
  display: none;
}

.button-plane {
  padding: 7px 212px 7px 0px;
  background: url("../img/main/plane.svg") right no-repeat;
}

.button-plane_about {
  width: 435px;
  padding: 40px 0px 7px 0px;
  background: url("../img/about/plane.svg") right no-repeat;
}

.button-revers {
  background-color: #ec627700;
  color: #EC6277;
}

.button-revers:hover {
  color: #F8F8F8;
  border-radius: 60px 10px;
  border: 3px solid  #EC6277;
  background-color: #EC6277;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.button-blue_filter {
  width: 190px;
  padding: 10px 0;
  background-color: #ec627700;
  color: rgba(93, 172, 218, 0.4);
  border: 2px solid rgba(93, 172, 218, 0.4);
}

.button-blue_filter:visited {
  color: #7CC1EE;
  border: 2px solid   #7CC1EE;
}

.button-blue_filter:hover {
  color: #F8F8F8;
  border-radius: 60px 10px;
  border: 2px solid #7CC1EE;
  background-color: #7CC1EE;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.button-blue_filter {
  width: 190px;
  padding: 10px 0;
  background-color: #ec627700;
  color: rgba(93, 172, 218, 0.4);
  border: 2px solid rgba(93, 172, 218, 0.4);
}

.button-blue_filter:active {
  color: #7CC1EE;
  border: 2px solid   #7CC1EE;
}

.button-blue_filter:hover {
  color: #7CC1EE;
  border: 2px solid   #7CC1EE;
  background-color: #ec627700;
  border-radius: 60px 10px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.button-blue {
  width: 225px;
  padding: 10px 0;
  background-color: #ec627700;
  color: #7CC1EE;
  border: 2px solid   #7CC1EE;
}

.button-blue:hover {
  color: #F8F8F8;
  border-radius: 60px 10px;
  border: 2px solid #7CC1EE;
  background-color: #7CC1EE;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.navbar__body {
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 45px;
  align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar__burger {
  display: none;
}

.navbar__burger span {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: absolute;
  background-color: #297FCA;
  left: 0;
  width: 100%;
  height: 2px;
  top: 9px;
}

.navbar__burger span:first-child {
  top: 0px;
}

.navbar__burger span:last-child {
  top: auto;
  bottom: 0px;
}

.navbar__burger._active span {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.navbar__burger._active span:first-child {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: calc(50% - 1px);
}

.navbar__burger._active span:last-child {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  bottom: calc(50% - 1px);
}

.navbar__menu {
  width: 100%;
}

.navbar__menu._active {
  top: 0;
}

.navbar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  z-index: 3;
}

.navbar__link {
  text-transform: uppercase;
  position: relative;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: #363636;
}

.navbar__link:hover {
  color: #297FCA;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

._fixed {
  background-color: #fff;
  position: fixed;
  left: 0;
  top: 30px;
  z-index: 50;
  width: 100%;
}

._no-webp .main{
  background: url("../img/main/fon.jpg") center center/cover no-repeat; }

.main {
  min-height: 920px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 250px;
  position: relative;
}

.main__fon {
  position: absolute;
  width: 100%;
  z-index: 1;
  left: 0;
  top: 0;
}

.main__fon img {
  width: 100%;
}

.main__wrapper {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 285px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.main__title {
  font-size: 48px;
  line-height: 65px;
  font-weight: bold;
  color: #EC6277;
}

.main__subtitle {
  font-size: 24px;
  line-height: 33px;
  font-weight: bold;
  color: #EC6277;
}

.main__description {
  font-size: 18px;
  line-height: 25px;
  color: #5DACDA;
}

.title-block {
  padding: 40px 0px 50px 0px;
  background: rgba(93, 172, 218, 0.15);
  position: relative;
}

.title-block__wrapper {
  position: relative;
}

.title-block__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.title-block__img {
  position: absolute;
}

.title-block__img-cloudleft {
  left: 0px;
  top: 25px;
}

.title-block__img-cloudright {
  right: 0px;
  top: 25px;
}

.title-block__img-balonred {
  left: 120px;
  top: -20px;
}

.title-block__img-balonblue {
  right: 120px;
  top: -20px;
}

.form-contact {
  padding-top: 40px;
  padding-bottom: 70px;
}

.form-contact__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.form-contact__text {
  padding-bottom: 15px;
}

.form-contact__img {
  position: relative;
  padding: 10px;
}

.form-contact__img img {
  max-width: 100%;
}

.form-contact__img::before {
  content: '';
  width: 100%;
  height: 100%;
  background: url("../img/imagefon/f10.svg") left top/contain no-repeat;
  position: absolute;
  left: 0;
  top: 0;
}

.form__column {
  width: 50%;
  margin: 10px;
}

.form__column-wrapper {
  position: relative;
  z-index: 1;
}

.form__column-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-question {
  padding-top: 110px;
  padding-bottom: 50px;
}

.form-question__wrapper {
  padding: 0px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
}

.form-question_title-wrapper {
  max-width: 580px;
  position: relative;
  z-index: 5;
  padding-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-right: 50px;
  padding-left: 70px;
}

.form-question__title {
  padding-bottom: 15px;
}

.form-question__description-galery {
  padding-bottom: 35px;
}

.form-question__fon-balon {
  position: absolute;
  left: 10px;
  top: 10px;
}

.form-question__fon-dots {
  position: absolute;
  left: 5px;
  top: -60px;
}

.form-question__fon-airbalon {
  position: absolute;
  left: 20px;
  top: 240px;
}

.form-question__fon-kite {
  position: absolute;
  right: 10px;
  top: -80px;
}

.form__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
}

.form__item {
  width: 480px;
  margin-bottom: 15px;
}

.form__item_contact {
  width: 100%;
}

.form__input {
  width: 100%;
  height: 47px;
  border-radius: 4px;
  border: 1px solid #5DACDA;
  padding: 0px 17px;
  font-size: 16px;
  line-height: 22px;
  color: #504F56;
}

textarea.form__input {
  min-height: 170px;
  resize: vertical;
  padding: 17px;
}

.form__button {
  margin: auto;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  width: 225px;
  border-radius: 60px 10px;
  padding: 13px 0;
  background-color: #ec627700;
  color: #7CC1EE;
  border: 3px solid #7CC1EE;
  cursor: pointer;
}

.form__button:hover {
  color: #F8F8F8;
  border-radius: 60px 10px;
  background-color: #7CC1EE;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.form__button_red {
  color: #F8F8F8;
  border: 3px solid  #EC6277;
  background-color: #EC6277;
}

.form__button_red:hover {
  background-color: #ec627700;
  color: #EC6277;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.about__item_bg {
  padding: 150px 0px 100px 0px;
  background: url("../img/about/fon1.svg") left top/100% no-repeat, url("../img/about/fon2.svg") left bottom/100% no-repeat;
}

.about__item_bg-two {
  position: relative;
}

.about__item_bg-two__img {
  position: absolute;
}

.about__item_bg-two__img-dotsleft {
  left: 20px;
}

.about__item_bg-two__img-dotsright {
  right: 10px;
  bottom: 30px;
}

.about__item_bg-two__img-balon {
  top: -30px;
  right: -12px;
}

.about__wrapper {
  position: relative;
}

.about__title {
  padding: 70px 0px 70px 0px;
  text-align: center;
}

.about__title-item {
  padding: 10px 0px;
}

.about__row {
  padding-bottom: 40px;
  margin: 0px 10px;
}

.about__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 0px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about__img {
  position: relative;
  margin: 0 auto;
  padding: 5px 0px 0px 0px;
}

.about__img img {
  max-width: 100%;
}

.about__img::before {
  content: '';
  width: 100%;
  height: 100%;
  background: url("../img/imagefon/f5.svg") left top/cover no-repeat;
  position: absolute;
  left: 0;
  top: 0;
}

.image-slider__wrapper {
  padding: 50px 20px 80px 40px;
}

.image-slider__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.image-slider__img img {
  max-width: 100%;
}

.animators {
  padding: 70px 0px 50px 0px;
}

.animators__wrapper {
  text-align: center;
}

.animators__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.animators__nav_programs {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.animators__nav-link {
  margin-bottom: 20px;
}

.animators__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.animators__column {
  margin: 0 -20px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 24.999%;
          flex: 0 1 24.999%;
  padding: 0px 40px 50px 40px;
}

.animators__img img {
  max-width: 100%;
}

.animators__item-title {
  padding: 20px 0px 20px 0px;
  text-align: center;
}

.animators__item-link {
  display: block;
  margin: 0 auto;
}

.animators__link {
  padding-top: 30px;
  background: url("../img/animator/arrows.svg") 50% top no-repeat;
}

.animator__item-fon {
  background: rgba(93, 172, 218, 0.15);
}

.animator__item_bg {
  padding: 100px 0px 100px 0px;
  background: url("../img/about/fon2.svg") left bottom/100% no-repeat;
}

.animator__item_bg-top {
  padding: 100px 0px 100px 0px;
  background: url("../img/animator/fon1.svg") left bottom/100% no-repeat;
}

.animator__item_bg-two {
  position: relative;
}

.animator__item_bg-two__img {
  position: absolute;
}

.animator__item_bg-two__img-dotsleft {
  left: 20px;
}

.animator__item_bg-two__img-dotsright {
  right: 10px;
  bottom: 30px;
}

.animator__item_bg-two__img-balon {
  top: -30px;
  right: -12px;
}

.animator__wrapper {
  position: relative;
}

.animator__title {
  padding: 70px 0px 70px 0px;
  text-align: center;
}

.animator__title-item {
  padding: 10px 0px;
}

.animator__row {
  padding-bottom: 40px;
  margin: 0px 10px;
}

.animator__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 0px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.animator__img {
  position: relative;
  margin: 0 auto;
  padding: 5px 0px 0px 0px;
}

.animator__img img {
  max-width: 100%;
}

.animator__img::before {
  content: '';
  width: 100%;
  height: 100%;
  background: url("../img/imagefon/f5.svg") left top/cover no-repeat;
  position: absolute;
  left: 0;
  top: 0;
}

.animator__img-fon {
  padding: 0px 0px 0px 15px;
}

.animator__img-fon::before {
  position: absolute;
  background: url("../img/imagefon/f7.svg") left top/cover no-repeat;
  left: 0;
  top: 0;
}

.add-services {
  padding-bottom: 70px;
  position: relative;
}

.add-services__wrapper {
  position: relative;
}

.add-services__title {
  padding: 0px 150px 50px 150px;
  text-align: center;
}

.add-services__text {
  padding-bottom: 40px;
}

.add-services__text-item {
  padding-bottom: 20px;
  text-align: center;
}

.seo {
  padding-bottom: 70px;
  position: relative;
}

.seo__wrapper {
  position: relative;
}

.seo__img {
  position: absolute;
}

.seo__img-dotsleft {
  left: 10px;
}

.seo__img-dotsright {
  top: 200px;
  right: 10px;
}

.seo__img-kiteright {
  top: -50px;
  right: 0px;
}

.seo__title {
  padding: 0px 150px 50px 150px;
  text-align: center;
}

.seo__text-item {
  padding-bottom: 20px;
}

.seo__text-list {
  padding-left: 40px;
  background: url("../img/icon/check.svg") 20px 5px no-repeat;
}

.reviews {
  margin-bottom: 115px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reviews__content {
  position: relative;
  padding: 30px;
  width: 955px;
  height: 100%;
  background: rgba(93, 172, 218, 0.15);
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
}

.reviews__description {
  text-align: center;
  padding: 30px 0px 30px 0px;
}

.reviews__fon-balloon {
  position: absolute;
  top: 120px;
  left: -40px;
  z-index: 1;
}

.reviews__fon-balloon img {
  max-width: 100%;
}

.reviews__fon-kite {
  position: absolute;
  top: 50px;
  right: -50px;
  z-index: 1;
}

.reviews__fon-kite img {
  max-width: 100%;
}

.contact {
  padding-top: 40px;
  padding-bottom: 70px;
}

.contact__img {
  position: relative;
  display: block;
  margin: 0 auto;
}

.contact__img img {
  max-width: 85%;
}

.contact__img::before {
  content: '';
  width: 100%;
  height: 100%;
  background: url("../img/imagefon/f4.svg") left top/contain no-repeat;
  position: absolute;
  left: 0;
  top: 0;
}

.map {
  padding-bottom: 50px;
}

.map__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.map__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.map__content {
  padding-top: 30px;
}

.footer {
  min-height: 680px;
  background: url("../img/fon/fon.svg") center center/cover no-repeat;
  padding-top: 50px;
}

.footer__wrapper {
  padding-bottom: 30px;
}

.footer__title {
  padding-bottom: 30px;
  line-height: 33px;
  font-weight: 600;
  color: #504F56;
}

.footer__menu {
  height: 215px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.error {
  position: relative;
  padding: 50px 0px 70px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.error__title {
  padding-bottom: 30px;
}

.error__description {
  text-align: center;
}

.error__fon-cloud {
  position: absolute;
  top: 190px;
  left: 0px;
}

.error__fon-cloud img {
  max-width: 100%;
}

.error__fon-cloudflag {
  position: absolute;
  top: 60px;
  right: 38px;
}

.error__fon-cloudflag img {
  max-width: 100%;
}

._row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

._column {
  width: 100%;
}

._column_two {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 5px;
  margin: 0px -15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hide {
  display: none;
}

* picture {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 600px) {
  .footer__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 767px) {
  .head__address {
    font-size: calc(10px + 6 * (100vw / 1920));
  }

  .contacts__phone-solid_head {
    font-size: calc(14px + 0 * (100vw / 1920));
  }

  .title_item {
    font-size: calc(22px + 8 * (100vw / 1920));
  }
}

@media (max-width: 1440px) {
  .main {
    min-height: 703px;
  }

  .seo__img-dotsleft {
    left: 0;
  }

  .footer {
    min-height: 510px;
  }
}

@media (max-width: 1439px) and (max-width: 767px) {
  body {
    font-size: calc(14px + 3.4 * ((100vw - 375px) / 1920));
  }

  .title {
    font-size: calc(24px + 20.4 * ((100vw - 375px) / 1920));
  }

  .title-main {
    font-size: calc(28px + 34 * ((100vw - 375px) / 1920));
  }

  .title-error {
    font-size: calc(130px + 255 * ((100vw - 375px) / 1920));
  }

  .description {
    font-size: calc(18px + 10.2 * ((100vw - 375px) / 1920));
  }

  .text-red__little {
    font-size: calc(14px + 3.4 * ((100vw - 375px) / 1920));
  }

  .button {
    font-size: calc(16px + 3.4 * ((100vw - 375px) / 1920));
  }

  .button-blue_filter {
    font-size: calc(14px + 3.4 * ((100vw - 375px) / 1920));
  }

  .button-blue_filter {
    font-size: calc(14px + 3.4 * ((100vw - 375px) / 1920));
  }

  .button-blue {
    font-size: calc(14px + 3.4 * ((100vw - 375px) / 1920));
  }

  .main__subtitle {
    font-size: calc(18px + 10.2 * ((100vw - 375px) / 1920));
  }

  .main__description {
    font-size: calc(16px + 3.4 * ((100vw - 375px) / 1920));
  }

  .form__button {
    font-size: calc(16px + 3.4 * ((100vw - 375px) / 1920));
  }

  .footer__title {
    font-size: calc(18px + 13.6 * ((100vw - 375px) / 1920));
  }
}

@media (max-width: 1250px) {
  .seo__img-dotsleft {
    left: -70px;
  }

  .seo__img-dotsright {
    display: none;
  }
}

@media (max-width: 1200px) {
  .title {
    line-height: 40px;
  }

  .title-main {
    line-height: 55px;
  }

  .title-error {
    line-height: 280px;
  }

  .description {
    line-height: 30px;
  }

  .button {
    line-height: 20px;
    width: 200px;
    padding: 10px 0;
  }

  .button-plane {
    padding: 12px 212px 12px 0px;
    width: 410px;
  }

  .button-plane_about {
    width: 410px;
  }

  .main {
    padding-top: 240px;
  }

  .main__subtitle {
    line-height: 30px;
  }

  .main__description {
    line-height: 22px;
  }

  .title-block__img-cloudleft {
    display: none;
  }

  .title-block__img-cloudright {
    display: none;
  }

  .title-block__img-balonred {
    left: 10px;
  }

  .title-block__img-balonblue {
    right: 10px;
  }

  .form__button {
    line-height: 20px;
    width: 200px;
    padding: 10px 0;
  }

  .about__item_bg {
    padding: 130px 0px 80px 0px;
  }

  .about__item_bg-two__img-balon {
    display: none;
  }

  .animators {
    padding: 50px 0px 40px 0px;
  }

  .animators__nav {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .animators__row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .animator__item_bg {
    padding: 90px 0px 80px 0px;
  }

  .animator__item_bg-two__img-balon {
    display: none;
  }

  .map {
    padding-bottom: 0px;
  }

  .error {
    padding: 40px 0px 60px 0px;
  }

  .error__fon-cloud {
    width: 212px;
    height: 175px;
  }

  .error__fon-cloudflag {
    width: 189px;
    height: 150px;
  }
}

@media (max-width: 1100px) {
  .reviews {
    margin-bottom: 80px;
  }

  .reviews__content {
    width: 750px;
    padding: 20px;
  }

  .reviews__fon-balloon {
    width: 90px;
    height: 135px;
    top: 90px;
    left: -40px;
  }

  .reviews__fon-kite {
    width: 90px;
    height: 230px;
    top: 40px;
  }
}

@media (max-width: 1000px) {
  .body__wrapper {
    display: none;
  }

  .body__logo_menu {
    display: block;
    padding: 10px 160px 10px 0px;
  }

  .bottom__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .socials__wrapper_menu {
    display: block;
  }

  .button__menu {
    display: block;
  }

  .navbar__body {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .navbar__body {
    height: 50px;
  }

  .navbar__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 130px;
            flex: 0 0 130px;
  }

  .navbar__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 51;
  }

  .navbar__menu {
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    padding: 50px 0px 0px 0px;
    position: fixed;
    top: -300%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.93);
    z-index: 50;
  }

  .navbar__list li {
    margin: 0px 0px 0px 0px;
    text-align: center;
    padding: 10px;
    margin: 0px 50px;
    border-bottom: 1px solid #5DACDA;
  }

  .navbar__list li:last-child {
    border: none;
  }

  .navbar__list {
    display: block;
  }

  .navbar__link {
    color: #000;
  }
}

@media (max-width: 991.98px) {
  .button-plane {
    background: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .button-plane_about {
    background: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto;
    width: 100%;
  }

  .main {
    padding-top: 220px;
  }

  .title-block {
    padding: 30px 0px 40px 0px;
  }

  .form-contact__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .form__column {
    width: 80%;
  }

  .form__item {
    width: 300px;
  }

  .form__item_contact {
    width: 100%;
  }

  .about__item_bg {
    padding: 90px 0px 70px 0px;
  }

  .about__title {
    padding: 50px 0px 50px 0px;
  }

  .animator__item_bg {
    padding: 70px 0px 70px 0px;
  }

  .animator__title {
    padding: 50px 0px 50px 0px;
  }

  .add-services {
    padding-bottom: 50px;
  }

  .add-services__title {
    padding: 0px 70px 30px 70px;
  }

  .add-services__text-item {
    padding-bottom: 15px;
  }

  .seo {
    padding-bottom: 50px;
  }

  .seo__img-dotsleft {
    display: none;
  }

  .seo__title {
    padding: 0px 70px 30px 70px;
  }

  .seo__text-item {
    padding-bottom: 15px;
  }
}

@media (max-width: 830px) {
  .reviews__content {
    width: 600px;
  }

  .reviews__fon-balloon {
    width: 81px;
    height: 120px;
    top: 100px;
    right: -35px;
  }

  .reviews__fon-kite {
    width: 81px;
    height: 207px;
    top: 20px;
    right: -40px;
  }
}

@media (max-width: 767px) {
  .head__address {
    font-size: calc(10px + 10.2 * ((100vw - 375px) / 1920));
  }

  .contacts__phone-solid_head {
    font-size: calc(14px + 0 * ((100vw - 375px) / 1920));
  }

  .title_item {
    font-size: calc(22px + 13.6 * ((100vw - 375px) / 1920));
  }
}

@media (max-width: 767.98px) {
  .head__link {
    display: none;
  }

  .body__logo_menu {
    padding: 10px 100px 10px 0px;
  }

  .socials__hech {
    display: none;
  }

  .title {
    line-height: 34px;
  }

  .title-main {
    width: 100%;
    text-align: center;
    line-height: 45px;
  }

  .title-error {
    line-height: 200px;
  }

  .description {
    line-height: 26px;
  }

  .button-plane {
    background: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto;
    width: 100%;
    padding: 0;
  }

  .main {
    padding-top: 200px;
  }

  .main__title-wrapper {
    width: 100%;
    margin: 0 auto;
  }

  .main__subtitle {
    width: 100%;
    text-align: center;
    line-height: 26px;
  }

  .main__description {
    width: 100%;
    text-align: center;
    line-height: 22px;
  }

  .title-block__img-balonred {
    display: none;
  }

  .title-block__img-balonblue {
    display: none;
  }

  .form-question {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 90px;
  }

  .form-question__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .form-question_title-wrapper {
    padding: 0px 70px 70px 70px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }

  .form-question__fon-airbalon {
    display: none;
  }

  .form__item {
    width: 430px;
  }

  .form__item_contact {
    width: 100%;
  }

  .about__item_bg {
    padding: 70px 0px 50px 0px;
  }

  .about__item_bg-two__img-dotsleft {
    left: -10px;
    top: 360px;
  }

  .about__row {
    padding-bottom: 20px;
  }

  .about__column {
    margin: 10px 0px;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .about__column_order-one {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .about__column_order-wto {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .animators {
    padding: 30px 0px 20px 0px;
  }

  .animator__item_bg {
    padding: 70px 0px 50px 0px;
  }

  .animator__item_bg-two__img-dotsleft {
    left: -10px;
    top: 360px;
  }

  .animator__row {
    padding-bottom: 20px;
  }

  .animator__column {
    margin: 10px 0px;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .animator__column_order-one {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .animator__column_order-wto {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .map__content {
    padding-top: 20px;
  }

  .footer__column_title {
    display: none;
  }

  .footer__wrapper {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .error {
    padding: 30px 0px 50px 0px;
  }

  .error__title {
    padding-bottom: 20px;
  }

  .error__title {
    padding-bottom: 15px;
  }

  .error__fon-cloud {
    top: 150px;
    width: 171px;
    height: 142px;
  }

  .error__fon-cloudflag {
    width: 151px;
    height: 120px;
    top: 40px;
    right: 0px;
  }

  ._row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  ._column_two {
    margin: 10px 0px;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  ._column_two_order-one {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  ._column_two_order-wto {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

@media (max-width: 670px) {
  .reviews {
    margin-bottom: 50px;
  }

  .reviews__content {
    width: 450px;
  }

  .reviews__fon-balloon {
    width: 70px;
    height: 106px;
    top: 125px;
    left: -25px;
  }

  .reviews__fon-balloon_bid {
    top: 170px;
    left: -50px;
  }

  .reviews__fon-kite {
    width: 70px;
    height: 185px;
    top: 20px;
    right: -40px;
  }
}

@media (max-width: 650px) {
  .body__logo_menu {
    padding: 10px 50px 10px 0px;
  }
}

@media (max-width: 600px) {
  .head__wrapper {
    height: 43px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .head__img {
    display: none;
  }

  .body {
    padding-top: 43px;
  }

  .body__logo_menu {
    display: none;
  }

  .body__logo_mobile {
    display: block;
    padding: 10px 0px 10px 0px;
  }

  .socials__wrapper_menu {
    display: none;
  }

  .socials__wrapper_burger {
    display: block;
  }

  .socials__item {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .contacts__adress {
    margin-bottom: 10px;
  }

  .contacts__phone-solid {
    margin-bottom: 10px;
  }

  .contacts__phone-solid_head {
    line-height: 14px;
    display: block;
    margin-bottom: 5px;
  }

  .description {
    padding: 0;
    background: none;
  }

  .text-footer {
    line-height: 22px;
  }

  ._fixed {
    top: 43px;
  }

  .main__subtitle {
    padding: 0;
    background: none;
  }

  .main__description {
    padding: 0;
    background: none;
  }

  .footer {
    padding-top: 15px;
  }

  .footer__column-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .footer__title {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (max-width: 530px) {
  .reviews__content {
    width: 350px;
  }

  .reviews__fon-kite {
    display: none;
  }
}

@media (max-width: 479.98px) {
  .head__address {
    padding: 0px;
  }

  .main {
    padding-top: 160px;
  }

  .title-block {
    padding: 20px 0px 30px 0px;
  }

  .form-question {
    padding-top: 70px;
  }

  .form-question_title-wrapper {
    padding: 0px 40px 50px 70px;
  }

  .form-question_title-wrapper_animator {
    padding: 0px 40px 50px 40px;
  }

  .form-question__fon-dots {
    display: none;
  }

  .form-question__fon-kite {
    display: none;
  }

  .form__item {
    width: 100%;
    padding: 0px 15px;
  }

  .form__item_contact {
    width: 100%;
  }

  .about__item_bg {
    padding: 50px 0px 40px 0px;
  }

  .about__item_bg-two__img-dotsleft {
    display: none;
  }

  .about__title {
    padding: 20px 0px 20px 0px;
  }

  .about__row {
    padding-bottom: 10px;
    margin: 0px;
  }

  .animator__item_bg {
    padding: 50px 0px 40px 0px;
  }

  .animator__item_bg-two__img-dotsleft {
    display: none;
  }

  .animator__title {
    padding: 20px 0px 20px 0px;
  }

  .animator__row {
    padding-bottom: 10px;
    margin: 0px;
  }

  .add-services {
    padding-bottom: 30px;
  }

  .add-services__title {
    padding: 0px 20px 20px 20px;
  }

  .add-services__text-item {
    padding-bottom: 10px;
  }

  .seo {
    padding-bottom: 30px;
  }

  .seo__title {
    padding: 0px 20px 20px 20px;
  }

  .seo__text-item {
    padding-bottom: 10px;
  }

  .reviews__fon-balloon_bid {
    top: 190px;
    left: -35px;
  }

  .error__fon-cloudflag {
    width: 120px;
    height: 96px;
    top: 40px;
    right: 0px;
  }
}

@media (max-width: 424.98px) {
  ._container {
    padding: 0px 10px;
  }

  .title {
    line-height: 28px;
  }

  .title-main {
    line-height: 35px;
  }

  .title-error {
    line-height: 160px;
  }

  .description {
    line-height: 24px;
  }

  .button {
    line-height: 16px;
    width: 175px;
    padding: 8px 0;
  }

  .main {
    padding-top: 140px;
  }

  .main__subtitle {
    line-height: 24px;
  }

  .main__description {
    line-height: 18px;
  }

  .form-question {
    padding-top: 50px;
  }

  .form-question_title-wrapper {
    padding: 0px 20px 30px 20px;
    max-width: 100%;
  }

  .form-question__fon-balon {
    display: none;
  }

  .form__button {
    line-height: 16px;
    width: 175px;
    padding: 8px 0;
    border: 2px solid  #7CC1EE;
  }

  .seo__img-kiteright {
    display: none;
  }

  .reviews__fon-balloon {
    width: 63px;
    height: 95px;
    top: 130px;
    left: -15px;
  }

  .reviews__fon-balloon_bid {
    top: 190px;
    left: -15px;
  }

  .map__content {
    padding-top: 10px;
  }

  .error {
    padding: 10px 0px 20px 0px;
  }

  .error__fon-cloud {
    top: 90px;
    left: -20px;
    width: 137px;
    height: 116px;
  }

  .error__fon-cloudflag {
    top: 10px;
    right: -20px;
  }
}

@media (max-width: 374.98px) {
  .reviews__content {
    width: 300px;
    padding: 20px 5px 20px 5px;
  }

  .reviews__fon-balloon {
    width: 57px;
    height: 85px;
    top: 130px;
    left: -15px;
  }

  .reviews__fon-balloon_bid {
    top: 240px;
    left: -10px;
  }
}

@media (max-width: 1439px) and (min-width: 767px) {
  body {
    font-size: calc(14px + 2 * (100vw / 1920));
  }

  .title {
    font-size: calc(24px + 12 * (100vw / 1920));
  }

  .title-main {
    font-size: calc(28px + 20 * (100vw / 1920));
  }

  .title-error {
    font-size: calc(130px + 150 * (100vw / 1920));
  }

  .description {
    font-size: calc(18px + 6 * (100vw / 1920));
  }

  .text-red__little {
    font-size: calc(14px + 2 * (100vw / 1920));
  }

  .button {
    font-size: calc(16px + 2 * (100vw / 1920));
  }

  .button-blue_filter {
    font-size: calc(14px + 2 * (100vw / 1920));
  }

  .button-blue_filter {
    font-size: calc(14px + 2 * (100vw / 1920));
  }

  .button-blue {
    font-size: calc(14px + 2 * (100vw / 1920));
  }

  .main__subtitle {
    font-size: calc(18px + 6 * (100vw / 1920));
  }

  .main__description {
    font-size: calc(16px + 2 * (100vw / 1920));
  }

  .form__button {
    font-size: calc(16px + 2 * (100vw / 1920));
  }

  .footer__title {
    font-size: calc(18px + 8 * (100vw / 1920));
  }
}

._webp .main{ background: url(../img/main/fon.webp) center center/cover no-repeat; }