*{
	box-sizing: border-box;
}

body{
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	line-height: 24px;
	background: #1B4E70;
	min-width: 1230;

}

.container{
	max-width: 1230px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
}


.header__inner {
	background: #4B96B3;
	width: 100%;	
}

.inner__content {
	border-top: 4px solid #FF7800;
	display: flex;
	justify-content: space-between;
	background-image: url(../img/fon.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: top left;
	min-height: 700px;
}


.header__logo {
	padding: 50px 50px 50px 50px;
}

.logo {
	font-size: 24px;
	color: #000;
	line-height: 28px;
	font-weight: 700;
}

.logo__icon {
	color: #fff;
	background: #2592DA;
	border-radius: 5px;
	padding: 12px 9px;
}

.header__ofer {
	margin-top: 150px;
	margin-left: 50px;
}

.offer__title {
	max-width: 520px;
	font-weight: 800;
	font-size: 52px;
	line-height: 63px;
	color: #FFFDFD;
	padding-bottom: 35px;
}

.offer__deskription {
	max-width: 350px;
	font-weight: 700;
	font-size: 18px;
	line-height: 32px;
	color: #FFFEFE;
	padding-bottom: 35px;
}

.offer__button {
	text-decoration: none;
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	color: #FFFFFF;
	background: #FF7800;
	padding: 14px 30px;
	border-radius: 20px;
	box-shadow: 2px 2px 10px rgba(248, 151, 6, 51);
}

.offer__button:hover{
	background: #FF3D00;
	box-shadow: 2px 2px 10px rgba(255, 61, 0, 51);
}

.header__img{}



.img__divice {
	margin-top: 30px;
	max-width: 240px;
}

.header__menu {
	padding-top: 190px;
	padding-right: 50px;
	font-weight: 500;
	text-align: center;
}

.menu li+li{
	padding-top: 65px;
}

.menu__item {
	text-decoration: none;
	font-size: 24px;
	line-height: 29px;
	color: #FFFFFF;
	outline: none;
}

.menu__item:hover {
	padding-bottom: 5px;
	border-bottom: 3px solid #FF7800;
}

.about__inner {
	border-top: 4px solid #FF7800;
	display: flex;
	justify-content: space-between;

	background: rgba(112, 165, 200, 100);
}

.inner__image {
	max-width: 700px;
}


.about__inner-right {
	text-align: center;
}

.about__title {
	margin-top: 165px;
	display: inline-block;
	font-weight: 600;
	font-size: 52px;
	line-height: 63px;
	color: #FFFDFD;
	border-bottom: 3px solid #FF7800;
	padding-bottom: 5px;
}

.about__text {
	margin-top: 100px;
	max-width: 380px;
	display: inline-block;
	font-weight: 500;
	font-size: 24px;
	line-height: 29px;
	text-transform: lowercase;
	color: #FFFCFC;
}

.slider__title {
	margin-top: 30px;
	margin-bottom: 30px;
	display: inline-block;
	font-weight: 600;
	font-size: 52px;
	line-height: 63px;
	color: #FFFDFD;
	border-bottom: 3px solid #FF7800;
	padding-bottom: 5px;
}

.advantage__navigation {
	margin-top: 140px;

}

.slider__description {
	margin-bottom: 30px;
	margin-top: 30px;
	font-weight: 600;
	font-size: 36px;
	line-height: 44px;
	color: #FFFBFB;
}

.slider__inner {
	text-align: center;
	background: #93CBF0;
	border-top: 3px solid #FF7800;
}

.slider{
	position: relative;
}

.slider .slick-arrow {
	margin: -100px 0px 0px 0px;
	position: absolute;
	top:50%;
	z-index: 10;
	font-size: 0;
	width: 50px;
	height: 50px;
	outline: none;
	border: 0;
}

.slider .slick-arrow.slick-prev{
	left: 30px;
	background: url('../img/left.png')0 0/ 100% no-repeat;
}

.slider .slick-arrow.slick-next{
	right: 30px;
	background: url('../img/right.png')0 0/ 100% no-repeat;
}

.slider__item{
	flex: 0 0 1200px;
}

.img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}


.propertis__inner {
	border-top: 4px solid #FF7800;
	background: #A2C5DC;
}

.propertis__item {
	display: flex;
	justify-content: space-between;
	position: relative;
}

.propertis__title{
	position: absolute;
	left: 30%;
	margin-top: 30px;
	display: inline-block;
	font-weight: 600;
	font-size: 52px;
	line-height: 63px;
	color: #FFFDFD;
	border-bottom: 3px solid #FF7800;
	padding-bottom: 5px;
}

.propertis__img {
	flex: 0 0 600px;
}

.img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.description {
	padding: 200px 50px 50px 50px;
	font-weight: 600;
	font-size: 36px;
	line-height: 44px;
	color: #FFFEFE;
}

.offer__inner {
	text-align: center;
	background: #59A5D8;
	min-height: 800px;
	border-top: 3px solid #FF7800;
	border-bottom: 3px solid #FF7800;
}

.offer__title-bottom {
	margin-top: 30px;
	display: inline-block;
	font-weight: 600;
	font-size: 48px;
	line-height: 59px;
	color: #FFFDFD;
	border-bottom: 3px solid #FF7800;
	padding-bottom: 5px;
	margin-top: 121px;
	margin-bottom: 48px;
	max-width: 700px;
}

.offer__text {

	margin-top: 100px;
	max-width: 380px;
	display: inline-block;
	font-weight: 500;
	font-size: 24px;
	line-height: 29px;
	color: #FFFCFC;
	margin-bottom: 106px;
	max-width: 830px;
}

.offer__button-bottom {
	text-decoration: none;
	font-weight: 800;
	font-size: 36px;
	line-height: 44px;
	color: #FFFFFF;
	background: #FF7800;
	padding: 24px 96px;
	border-radius: 20px;
	box-shadow: 2px 2px 10px rgba(248, 151, 6, 51);
}

.offer__button-bottom:hover{
	background: #FF3D00;
	box-shadow: 2px 2px 10px rgba(255, 61, 0, 51);
}