@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Comic Neue", cursive;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Comic Neue", cursive;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

._no-webp body{
  background: url("../img/fon/main_fon.png") center center/cover no-repeat; }

body {
  color: #000;
  font-size: 17px;
  line-height: 150%;
  min-height: 100vh;
  font-family: "Comic Neue", cursive;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._no-webp .page{
  background: url("../img/fon/green_fon.png") center bottom/contain no-repeat; }

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

._container {
  max-width: 1440px;
  padding: 0px 15px;
  margin: 0 auto;
}

.header {
  background-color: #1c4758;
  height: 55px;
}

.header__content {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__body {
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 45px;
  align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar__burger {
  display: none;
}

.navbar__burger span {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: absolute;
  background-color: #fff;
  left: 0;
  width: 100%;
  height: 2px;
  top: 9px;
}

.navbar__burger span:first-child {
  top: 0px;
}

.navbar__burger span:last-child {
  top: auto;
  bottom: 0px;
}

.navbar__burger._active span {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.navbar__burger._active span:first-child {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: calc(50% - 1px);
}

.navbar__burger._active span:last-child {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  bottom: calc(50% - 1px);
}

.navbar__menu {
  width: 100%;
}

.navbar__menu._active {
  top: 0;
}

.navbar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  z-index: 60;
}

.navbar__link {
  text-transform: uppercase;
  position: relative;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: #363636;
}

.navbar__link:hover {
  color: #297FCA;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.navbar__text {
  color: #fff;
}

._no-webp .navbar__text_language{
  background: url("../img/header/icon/down.png") right 6px no-repeat; }

.navbar__text_language {
  margin-right: 125px;
  padding-right: 22px;
}

._no-webp .navbar__text_question{
  background: url("../img/header/icon/question.png") left top no-repeat; }

.navbar__text_question {
  margin-right: 50px;
  padding-left: 35px;
}

._no-webp .navbar__text_victory{
  background: url("../img/header/icon/cup.png") left top no-repeat; }

.navbar__text_victory {
  margin-right: 215px;
  padding-left: 37px;
}

._no-webp .navbar__text_avatar{
  background: url("../img/header/icon/avatar.png") left top no-repeat; }

.navbar__text_avatar {
  margin-right: 39px;
  padding-left: 46px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.navbar__icon_volume {
  margin-right: 105px;
}

.logo__img {
  padding: 5px 0px;
  width: 170px;
}

.logo__img img {
  max-width: 100%;
}

.content {
  position: relative;
}

.content__wrapper {
  max-width: 800px;
  padding: 10px;
}

.content__fon-img {
  position: absolute;
}

.content__fon-img_one {
  top: 40px;
}

.content__fon-img_two {
  right: 0px;
  top: 240px;
}

.content__fon-lewel {
  position: absolute;
  z-index: 10;
}

.content__fon-lewel_one {
  left: 2%;
  bottom: 0px;
}

.content__fon-lewel_one img {
  max-height: 70vh;
  max-width: 100%;
}

.content__fon-lewel_two {
  right: 10%;
  bottom: 0px;
}

.content__fon-lewel_two img {
  max-height: 40vh;
  max-width: 100%;
}

.content__player-data {
  position: absolute;
  z-index: 10;
}

.content__player-data_one {
  left: -80px;
  bottom: 0px;
}

.content__player-data_two {
  right: 30px;
  bottom: 0px;
}

._no-webp .content__think{
  background: url("../img/main/think.png") center center/contain no-repeat; }

.content__think {
  z-index: 30;
  top: 20%;
  left: 25%;
  position: absolute;
  width: 220px;
  height: 220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding-bottom: 50px;
}

.content__think-title {
  margin-bottom: 15px;
  display: inline-block;
  position: relative;
  color: #00069f;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 7.6px;
  padding-bottom: 16px;
}

.content__think-title::before {
  content: '';
  width: 70px;
  height: 2px;
  position: absolute;
  background-color: #00069f;
  left: 50%;
  margin-left: -40px;
  bottom: 0;
}

.content__section {
  color: #000000;
  font-size: 26px;
  line-height: 30px;
  text-align: center;
}

.column__title {
  color: #ffffff;
  font-size: 22px;
  text-align: left;
}

.column__list-level {
  padding: 10px 0px 0px 0px;
}

.column__list-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.column__list-container_two {
  padding-right: 50px;
}

.column__list-img img {
  max-width: 100%;
}

.column__fild {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.column__item-level {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
  padding-right: 15px;
  padding-bottom: 22px;
}

.column__item-level ::before {
  content: '';
  width: 21px;
  height: 21px;
  border: 2px solid #fed422;
  background-color: #970405;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  right: 0px;
}

._no-webp .column__item-level ::after{
  background: url("../img/main/corner.png") no-repeat; }

.column__item-level ::after {
  content: '';
  width: 23px;
  height: 12px;
  position: absolute;
  bottom: -2px;
  left: 50%;
}

.column__task {
  display: inline-block;
  padding: 2px 5px;
  color: #383838;
  font-size: 16px;
  text-align: left;
}

.column__task:hover {
  color: #fff;
  background-color: #00069f;
  border-radius: 10px;
}

.fild__container {
  margin: 0 auto;
  position: relative;
  padding: 10px 30px;
}

.fild__container_img {
  max-height: 70vh;
}

.fild__container_img img {
  max-width: 100%;
}

.fild__button {
  z-index: 20;
  position: absolute;
  left: 50%;
  bottom: 0;
  margin-left: -120px;
  font-size: 33px;
  padding: 15px 60px;
  color: #3c892d;
  display: inline-block;
  border-radius: 10px;
  border: 5px solid #3c892d;
  background-color: #ffffff;
}

.tabs__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.tabs__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
  padding-right: 10px;
  padding-bottom: 12px;
}

.tabs__item img {
  max-width: 100%;
}

.tabs__item ::before {
  content: '';
  width: 21px;
  height: 21px;
  border: 2px solid #fed422;
  background-color: #970405;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  right: 0px;
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  padding-left: 6px;
  padding-bottom: 6px;
}

.tabs__item_one ::before {
  content: '1';
}

.tabs__item_two ::before {
  content: '2';
  padding-left: 5px;
}

.tabs__item_three ::before {
  content: '3';
  padding-left: 5px;
}

.tabs__item_four ::before {
  content: '4';
  padding-left: 5px;
}

.tabs__item_five ::before {
  content: '5';
  padding-left: 5px;
}

.tabs__item_six ::before {
  content: '6';
  padding-left: 5px;
}

.tabs__item_seven ::before {
  content: '7';
  padding-left: 5px;
}

.tabs__body {
  padding: 4px;
  border: 2px solid #00069f;
  border-radius: 10px;
}

.tabs__block {
  position: relative;
  display: none;
}

._no-webp .tabs__block::before{
  background: url("../img/main/corner.png") no-repeat; }

.tabs__block::before {
  content: '';
  width: 23px;
  height: 12px;
  position: absolute;
  top: -16px;
  left: 10px;
}

.tabs__block_one::before {
  left: 2%;
}

.tabs__block_two::before {
  left: 16%;
}

.tabs__block_three::before {
  left: 33%;
}

.tabs__block_four::before {
  left: 48%;
}

.tabs__block_five::before {
  left: 63%;
}

.tabs__block_six::before {
  left: 79%;
}

.tabs__block_seven::before {
  left: 95%;
}

.swiper-button-prev,
.swiper-button-next {
  width: 6px;
  height: 11px;
  background-position: center;
  background-repeat: no-repeat;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}

._no-webp .swiper-button-next{
  background-image: url("../img/main/right.png"); }

.swiper-button-next {
  margin-top: -5px;
  top: 50%;
  right: 0;
}

._no-webp .swiper-button-prev{
  background-image: url("../img/main/left.png"); }

.swiper-button-prev {
  margin-top: -5px;
  top: 50%;
  left: 0;
}

.slider-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.swiper-button-container {
  min-width: 30px;
  position: relative;
}

.tab__item {
  display: none;
}

.tab__item.active {
  display: block;
}

._tabs-block {
  display: none;
}

._tabs-block._active {
  display: block;
}

.player-data {
  padding-top: 30px;
  position: relative;
}

.player-data__wrapper {
  max-width: 1000px;
  border-radius: 10px;
  background-color: rgba(28, 71, 88, 0.57);
  padding: 20px;
}

.player-data__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.player-data__item_two {
  margin-top: 30px;
}

.player-data__item_three {
  margin-top: 30px;
}

.player-data__item_four {
  margin-top: 30px;
}

._no-webp .player-data .player{
  background: url("../img/main/avatar.png") left top no-repeat; }

.player-data .player {
  margin-left: 50px;
  padding: 25px 60px 25px 160px;
}

.player-data .player__name {
  color: #ffffff;
  font-size: 40px;
  text-align: left;
  padding-bottom: 10px;
  line-height: 45px;
}

.player-data .player__nickname {
  color: #ffd522;
  font-size: 23px;
  line-height: 33px;
}

._no-webp .player-data .player__achievement{
  background: url("../img/main/сoin.png") left top no-repeat; }

.player-data .player__achievement {
  position: relative;
  padding: 0px 0px 0px 115px;
}

.player-data .player__achievement::before {
  top: -10px;
  left: 70px;
  padding: 9px;
  content: '23';
  color: #ffffff;
  font-size: 21px;
  line-height: 25px;
  position: absolute;
  width: 43px;
  height: 43px;
  border: 1px solid #000000;
  background-color: #c90404;
  border-radius: 50%;
}

.player-data .player__all-level {
  color: #42abd4;
  font-size: 15px;
  line-height: 21px;
  text-align: left;
}

.player-data .player__liga-title {
  color: #fbd022;
  font-size: 12px;
  text-align: left;
  text-transform: uppercase;
}

.player-data .player__liga {
  color: #fbd022;
  font-size: 28px;
  font-weight: 700;
  line-height: 23px;
  text-align: left;
}

.player-data .player__next-liga {
  font-size: 14px;
  line-height: 25px;
  text-align: left;
  color: #ffffff;
}

.player-data .player__next-liga span {
  color: #2704ff;
}

.player-data .player__awards {
  padding: 0px 0px 5px 47px;
  width: 145px;
  border-bottom: 5px solid #86fb7c;
  color: #86fb7c;
  font-size: 19px;
  font-weight: 700;
  line-height: 33px;
  text-align: left;
  text-transform: uppercase;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  margin-top: 40px;
  margin-left: 55px;
}

.player-data .player__awards-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-left: -30px;
}

.player-data .player__awards-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 17px 40px 17px;
}

.player-data .player__awards-name {
  color: #ffffff;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
}

.player-data .player__awards-total {
  color: #86fb7c;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
}

.player-data .player__awards-diploma {
  text-align: center;
  margin-left: 110px;
  padding-top: 28px;
  width: 250px;
  height: 130px;
  border: 7px solid #937c20;
  background-color: #fbcd21;
  color: #000000;
  font-family: Algerian;
  font-size: 28px;
  text-transform: uppercase;
}

.player-data .player__trophy {
  padding: 0px 0px 5px 67px;
  width: 145px;
  border-bottom: 5px solid #ffbb00;
  color: #ffbb00;
  font-size: 19px;
  font-weight: 700;
  line-height: 33px;
  text-align: left;
  text-transform: uppercase;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  margin-top: 40px;
  margin-left: 55px;
}

.player-data .player__trophy-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-left: -30px;
}

.player-data .player__trophy-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 17px 30px 17px;
}

.player-data .player__trophy-total {
  color: #ffbb00;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
}

.player-data .player__passage {
  padding: 0px 0px 5px 100px;
  width: 260px;
  border-bottom: 5px solid #2704ff;
  color: #2704ff;
  font-size: 19px;
  font-weight: 700;
  line-height: 33px;
  text-align: left;
  text-transform: uppercase;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  margin-top: 115px;
  margin-left: -6px;
}

.player-data .player__passage-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-left: -80px;
}

.player-data .player__passage-item_progres {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 17px 0px 17px;
}

.player-data .player__passage-theme {
  padding-right: 20px;
  font-size: 16px;
  line-height: 33px;
  color: #fff;
  font-weight: 700;
}

.player-data .player__passage-theme_green {
  color: #86fb7c;
}

.player-data .player__passage-theme_yellou {
  color: #ffbb00;
}

.player-data__fon-img {
  position: absolute;
}

.player-data__fon-img_one {
  top: 300px;
  left: 40px;
}

.player-data__fon-img_two {
  right: 40px;
  top: 550px;
}

.player-data__fon-main {
  position: absolute;
  z-index: 10;
}

.player-data__fon-main_one {
  left: -10px;
  bottom: 0px;
}

.player-data__fon-main_two {
  right: -20px;
  bottom: 0px;
}

progress {
  color: #86fb7c;
  border: 0;
  width: 208px;
  height: 6px;
  border-radius: 3px;
  background-color: #fff;
}

progress::-webkit-progress-bar {
  border: 0;
  width: 208px;
  height: 6px;
  border-radius: 3px;
  background-color: #fff;
}

progress::-webkit-progress-value {
  border: 0;
  width: 208px;
  height: 6px;
  border-radius: 3px;
  background-color: #86fb7c;
}

progress::-moz-progress-bar {
  color: #86fb7c;
  border: 0;
  width: 208px;
  height: 6px;
  border-radius: 3px;
  background-color: #fff;
}

.socials {
  margin-left: 50px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.socials__content {
  position: absolute;
  bottom: 80px;
  left: 90px;
}

.socials__content-title {
  color: #3846a3;
  font-size: 14px;
  font-weight: 400;
  line-height: 13px;
  text-align: left;
}

.socials__content-icon {
  padding-top: 15px;
  padding-left: 10px;
}

.player__item-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.popup {
  z-index: 100;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  overflow: auto;
}

.popup__body {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
}

.popup__content {
  color: #000;
  background-color: #fff;
  max-width: 850px;
  max-height: 100%;
  -webkit-box-shadow: 0 3px 114px 36px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 114px 36px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 35px;
}

.form__title {
  font-size: 38px;
  text-align: left;
  padding-bottom: 30px;
}

.form__input {
  height: 50px;
  width: 340px;
  color: #929292;
  font-size: 19px;
  line-height: 30px;
  text-align: left;
  padding-bottom: 8px;
  border-bottom: 4px solid #50b1d8;
  margin-bottom: 10px;
}

.form__input_one {
  margin-right: 28px;
}

.form__input_long {
  width: 100%;
}

.form__avatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 25px;
}

.form__avatar-link {
  position: relative;
  display: inline-block;
  padding: 10px;
  border: 2px solid transparent;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 10px;
}

.form__avatar-link:hover {
  border: 2px solid #86c763;
  background-color: #e9f5e3;
}

.form__avatar-link:hover .link__fon {
  display: none;
}

.form__avatar-link img {
  max-width: 100%;
}

.form__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 30px auto 0px;
  color: #ffffff;
  font-size: 26px;
  line-height: 40px;
  text-align: center;
  min-height: 50px;
  border-radius: 10px;
  background-color: #86c763;
  padding: 0px 45px 0px 45px;
  cursor: pointer;
}

.link__fon {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.473);
}

.select {
  font-family: 'Comic Neue', cursive;
  height: 50px;
  width: 340px;
  color: #929292;
  font-size: 18px;
  line-height: 40px;
  text-align: left;
  padding-bottom: 15px;
  border-bottom: 4px solid #50b1d8;
  margin-bottom: 20px;
}

.select_one {
  margin-right: 28px;
}

.footer {
  padding-top: 56px;
  background-color: #86c763;
  height: 100px;
}

.footer__content {
  background-color: #4e7339;
  height: 165px;
}

@media (max-width: 1400px) {
  .navbar__text_victory {
    margin-right: 157px;
  }
}

@media (max-width: 1350px) {
  .content__fon-img_one {
    left: -110px;
  }

  .content__fon-img_two {
    right: -100px;
  }

  .player-data__fon-img_one {
    left: -200px;
  }
}

@media (max-width: 1300px) {
  .navbar__text_language {
    margin-right: 62px;
  }

  .navbar__text_question {
    margin-right: 25px;
  }

  .navbar__text_avatar {
    margin-right: 19px;
  }

  .navbar__icon_volume {
    margin-right: 52px;
  }

  .navbar__icon_volume {
    margin-right: 26px;
  }

  .player-data__fon-img_two {
    display: none;
  }
}

@media (max-width: 1220px) {
  .player-data__fon-main_one {
    display: none;
  }
}

@media (max-width: 1200px) {
  .content__think {
    left: 30%;
  }

  .player-data__fon-main_two {
    display: none;
  }
}

@media (max-width: 1150px) {
  .navbar__text_question {
    padding-left: 25px;
  }

  .navbar__text_victory {
    margin-right: 104px;
    padding-left: 25px;
  }
}

@media (max-width: 1100px) {
  .navbar__text_language {
    margin-right: 30px;
  }

  .navbar__text_question {
    margin-right: 12px;
    padding-left: 25px;
  }

  .navbar__text_avatar {
    margin-right: 10px;
  }

  .content__fon-img_one {
    display: none;
  }

  .content__fon-img_two {
    display: none;
  }

  .content__fon-lewel_two {
    right: -100px;
  }

  .content__player-data_two {
    right: -100px;
  }

  .player-data {
    padding-top: 15px;
  }

  .player-data__item {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .player-data__item_three {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }

  .player-data .player__trophy-list {
    padding-left: 40px;
  }

  .player-data__fon-img_one {
    display: none;
  }
}

@media (max-width: 1000px) {
  .player-data__item_two {
    margin-left: -100px;
  }

  .player-data__item_three {
    margin-left: -100px;
  }

  .player-data__item_four {
    margin-left: -100px;
  }

  .player-data .player {
    margin-left: 0px;
  }

  .player-data .player__awards-diploma {
    margin-left: 0px;
  }

  .socials {
    margin-left: 0px;
  }
}

@media (max-width: 991.98px) {
  .navbar__body {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .navbar__body {
    height: 50px;
  }

  .navbar__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 99;
  }

  .navbar__menu {
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    padding: 10px 0px 0px 0px;
    position: fixed;
    top: -300%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #184354;
    z-index: 50;
  }

  .navbar__list li {
    text-align: center;
    padding: 20px;
    margin: 0px 5px;
    color: #fff;
  }

  .navbar__list li:last-child {
    border: none;
  }

  .navbar__list {
    display: block;
  }

  .navbar__text_language {
    margin-right: 0px;
  }

  .navbar__text_language-container {
    position: absolute;
    margin: 0px;
  }

  .navbar__text_question {
    margin-right: 0px;
  }

  .navbar__text_victory {
    margin-right: 0px;
  }

  ._no-webp .navbar__text_avatar{
    background: url("../img/header/icon/avatar_big.png") 50% top/100px 100px no-repeat; }

  .navbar__text_avatar {
    display: inline-block;
    margin-right: 0px;
    margin-top: 50px;
    padding: 120px 20px 0px 20px;
  }

  .navbar__icon_volume {
    margin-right: 0px;
  }

  .footer__content {
    height: 70px;
  }

  .footer {
    padding-top: 60px;
    background-color: #86c763;
    height: 130px;
  }
}

@media (max-width: 950px) {
  .content__fon-lewel_one {
    left: -120px;
  }
}

@media (max-width: 850px) {
  .form__input {
    width: 100%;
  }

  .form__input_one {
    margin-right: 0px;
  }

  .select {
    width: 100%;
  }

  .select_one {
    margin-right: 0px;
  }
}

@media (max-width: 840px) {
  .player-data .player {
    padding: 25px 25px 25px 130px;
  }

  .player-data .player__passage-item_progres {
    padding: 0px;
  }

  progress {
    width: 160px;
  }

  progress::-webkit-progress-bar {
    width: 160px;
  }

  progress::-webkit-progress-value {
    width: 160px;
  }

  progress::-moz-progress-bar {
    width: 160px;
  }
}

@media (max-width: 800px) {
  .fild__button {
    padding: 16px 74px;
  }

  .player-data .player__trophy-list {
    padding-left: 0px;
  }
}

@media (max-width: 750px) {
  .player-data .player__name {
    font-size: 30px;
    line-height: 40px;
    padding-bottom: 0px;
  }

  .player-data .player__nickname {
    font-size: 22px;
    line-height: 30px;
  }

  .player-data .player__awards-item {
    padding: 0px 7px 20px 7px;
  }

  .player-data .player__trophy-item {
    padding: 0px 7px 20px 7px;
  }
}

@media (max-width: 730px) {
  .player-data__item_four {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .socials {
    margin-left: 200px;
  }
}

@media (max-width: 700px) {
  .content__think {
    width: 200px;
    height: 200px;
    left: 20%;
    top: 225px;
  }
}

@media (max-width: 424.98px) {
  ._container {
    padding: 0px 10px;
  }
}

._webp body{ background: url(../img/fon/main_fon.webp) center center/cover no-repeat; }

._webp .page{ background: url(../img/fon/green_fon.webp) center bottom/contain no-repeat; }

._webp .navbar__text_language{ background: url(../img/header/icon/down.webp) right 6px no-repeat; }

._webp .navbar__text_question{ background: url(../img/header/icon/question.webp) left top no-repeat; }

._webp .navbar__text_victory{ background: url(../img/header/icon/cup.webp) left top no-repeat; }

._webp .navbar__text_avatar{ background: url(../img/header/icon/avatar.webp) left top no-repeat; }

._webp .content__think{ background: url(../img/main/think.webp) center center/contain no-repeat; }

._webp .column__item-level ::after{ background: url(../img/main/corner.webp) no-repeat; }

._webp .tabs__block::before{ background: url(../img/main/corner.webp) no-repeat; }

._webp .swiper-button-next{ background-image: url(../img/main/right.webp); }

._webp .swiper-button-prev{ background-image: url(../img/main/left.webp); }

._webp .player-data .player{ background: url(../img/main/avatar.webp) left top no-repeat; }

._webp .player-data .player__achievement{ background: url(../img/main/сoin.webp) left top no-repeat; }

@media (max-width: 991.98px){

  ._webp .navbar__text_avatar{ background: url(../img/header/icon/avatar_big.webp) 50% top/100px 100px no-repeat; }
}