@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300,400,700,800&display=swap");

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  background-color: #3D3C3C;
  color: #000;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  height: 100%;
}

html._lock,
body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  width: 1440px;
  padding: 0px 60px 0px 60px;
  margin: 0 auto;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.card {
  padding: 30px;
  background-color: green;
  height: 300px;
  color: white;
  font-size: 24px;
}

.card img {
  max-width: 100%;
}

.slider-container {
  max-width: 1440px;
  padding: 0 15px;
  position: relative;
  margin: 0 auto;
}

.fullscreen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
}

.header {
  background: url("../img/header/fon.png") 0 0/cover no-repeat;
}

.header__navbar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  background-color: rgba(0, 0, 0, 0.5);
}

.header__body {
  padding-top: 60px;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 120px;
}

.header__title {
  padding-bottom: 40px;
  position: relative;
  font-weight: 800;
  font-size: 96px;
  line-height: 1;
  color: #FFFFFF;
}

.header__title:after {
  content: "";
  width: 100px;
  height: 2px;
  background-color: #D5AA85;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.header__description {
  margin: 60px 0px 60px 0px;
  text-align: center;
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  color: #B6B1A6;
}

.header__button {
  padding-bottom: 60px;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
}

.header__button a {
  display: inline-block;
  color: #FFFFFF;
  padding: 19px 89px;
  border: solid 2px #D5AA85;
}

.header__button a:hover {
  background-color: #D5AA85;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.header__phone {
  padding-bottom: 10px;
  display: block;
  font-weight: 500;
  font-size: 24px;
  line-height: 35px;
  color: #FFFFFF;
}

.navbar__body {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.navbar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar__link {
  margin-left: 15px;
  color: #fff;
  text-transform: uppercase;
  position: relative;
}

.navbar__link:hover {
  color: #D5AA85;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.navbar__link:after {
  content: "";
  width: 0;
  height: 2px;
  background-color: #D5AA85;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: -35%;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.navbar__link:hover::after {
  width: 100%;
}

.navbar__link._current {
  color: #D5AA85;
}

.navbar__link._current:after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #D5AA85;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: -35%;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

@media (min-width: 767px) {
  .navbar__link {
    font-size: calc(12px + 4 * (100vw / 1920));
  }
}

@media (max-width: 1452px) {
  ._container {
    max-width: 970px;
  }
}

@media (max-width: 1000px) {
  .navbar__link {
    color: #000;
  }
}

@media (max-width: 991.98px) {
  ._container {
    max-width: 750px;
  }
}

@media (max-width: 768px) {
  .navbar__link {
    line-height: 50px;
  }
}

@media (max-width: 767.98px) {
  ._container {
    max-width: none;
    padding: 0 10px;
  }
}

@media (max-width: 767px) {
  .navbar__link {
    font-size: calc(12px + 6.8 * ((100vw - 375px) / 1920));
  }
}