*{
	box-sizing: border-box;
}

body{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 15px;
	line-height: 24px;
}

a{
	text-decoration: none;
	color: inherit;
}

.header{
	background-image: url(../img/header-bg.jpg);
	min-height: 793px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center; 
}

.container{
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
}

.header__top{
	display: flex;
	justify-content: space-between;
	height: 80px;
	align-items: center;
}

.menu__list{
	display: flex;
}

.menu__list li+li{
	padding-left: 25px;
}

.login{
	margin-right:44px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 600;
}

.menu__list a{
	text-transform: uppercase;
	opacity: 0.5;
	color: #fff;
	font-weight: 600;
	transition: all .5s;
}

.menu__list a:hover{
	opacity: 1;
}

.sign-up{
	text-transform: uppercase;
	color: #250F8A;
	font-weight: 600;
	background-color: #fff;
	padding: 8px 43px;
	border-radius: 20px;
}

.header-slider{
	padding-top: 111px;
}

.header-slider__item-content{
	display: flex;
	justify-content: space-between;
}

.headee-slider__item-info{
	max-width: 506px;
	color:#ffffff;
}

.header-slider__title{
	font-size: 45px;
	line-height: 60px;
	font-weight: 700;
	margin-bottom: 10px;
}

.header-slider__description{
	margin-bottom: 60px;
	font-size: 24px;
	line-height: 55px;
}

.header-slider__btn{
	padding: 13px 39px;
	border-radius: 25px;
	background-color: #FFCA00;
	text-transform: uppercase;
	color: #250F8A;
	font-weight: 600;
	font-size: 15px;
	line-height: 24px;
}

.headee-slider__item-images{
	margin:10px 82px 0 0;
}

.header-dots{
	list-style: none;
	position: absolute;
	right: 0;
	top: 50%;
}

.header-dots button{
	border: none;
	background-color: #ffffff;
	opacity: 0.5;
	font-size: 0;
	padding: 0;
	width: 7px;
	height: 7px;
	border-radius: 3.5px;
	cursor: pointer;
	outline: none;
	margin: 10px auto;
	display: block;
}

.header-dots .slick-active button{
	width: 15px;
	opacity: 1;
}

.specialised{
	padding: 55px 0 93px;
	background-image: url(../img/special.svg);
	background-position: left bottom;
	background-repeat: no-repeat;
	color: #202020;
	text-align: center;
}

.specialised__title{
	margin-bottom: 96px;
}

.title{
	font-size: 35px;
	line-height: 45px;
	font-weight: 700;
	text-align: center;
}

.specialised__items{
	display: flex;
	justify-content: space-between;
	max-width: 980px;
	margin: 0 auto;
}

.specialised__item{
	width: 280px;
}

.specialised__item-title{
	margin-bottom: 11px;
	font-size: 20px;
	font-weight: 700;
}

.specialised__item-text{
	padding: 0 10px;
	color: #272727;
	font-size: 15px;
	line-height: 24px;
	opacity: 0.7;
}

.advantages{
	padding-top: 64px;
	background-color: #F4F9FD;
	background-image: url(../img/advantages-bg.svg);
	background-repeat: no-repeat;
	background-position: center right;
}

.advanteges-box{
	display: flex;
	justify-content: space-between;
	padding-bottom: 76px;
}

.advantages-box--right .advanteges-box__info{
	order: 1;
	background-image: url(../img/titlebg-2.svg);
	background-position: 22px 130px;
}

.advanteges-box__info{
	max-width: 456px;
	padding-top: 60px;
	background-image: url(../img/titlebg.svg);
	background-repeat: no-repeat;
	background-position: 22px 76px;
}

.advanteges-box__info--bg{
	background-image: url(../img/titlebg-3.svg);
	background-position: 5px 105px;
}

.advanteges-box__title{
	color: #202020;
	font-size: 35px;
	line-height: 45px;
	font-weight: 700;
	padding: 68px 0 15px 48px;
}

.advanteges-box__text{
	padding-left: 48px;
	color: #272727;
}

.advanteges-box__text p{
	margin: 10px 0;
}

.reviews{
	background-image: url(../img/reviews-bg.svg);
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
	padding: 38px 0 82px;
}

.reviews__title{
	color: #ffffff;
	margin: 0 auto 48px;
	max-width: 384px;
}

.reviews__items{
	max-width: 940px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

.reviews__item{
	width: 300px;
	border-radius: 5px;
	background-color: rgba(255,255,255,.2);
	padding: 35px 20px;
	color: #fff;
}

.reviews__item-head{
	margin-bottom: 13px;
	display: flex;
}

.reviews__item-head img{
	border-radius: 50%;
	margin-right: 20px;
}

.reviews__item-name{
	font-weight: 600px;
}

.reviews__item-position{
	opacity: 0.5;
}

.reviews__item-text{
	text-align: center;
	padding-top: 39px;
	position: relative;
}

.reviews__item-text::before{
	content: "“";
	font-weight: 700;
	font-size: 40px;
	line-height: 55px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}

.footer__inner{
	display:flex;
	justify-content: space-between;
	align-items: center;
	height: 61px;
	color: #272727;
	padding: 0 40px;
}

.footer__linc a + a{
	margin-left: 20px;
}
